/* BASE COLOURS  */
:root {
    --bs-body-bg: #F0F1C5;
    --bs-link-color: black;
    --bs-link-color-rgb: black;
    --bs-link-hover-color-rgb: #333;
}
[data-bs-theme="dark"] {
    --bs-body-bg: #2C3930;
    --bs-link-color: white;
    --bs-link-color-rgb: white;
    --bs-link-hover-color-rgb: #eee;
    --bs-heading-color: white;
    --bs-body-color: #DCD7C9;
    --bs-body-color-rgb: #DCD7C9;
}
a {
    color: #53614f;
}
[data-bs-theme="dark"] a {
    color: white;
}
/* END */


/* BUTTONS */
/* BUTTONS: SELECTED */
.btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: #6F826A;
    --bs-btn-border-color: #2C3930;
    --bs-btn-hover-bg: #BBD8A3;
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: #A27B5C;
}
[data-bs-theme="dark"] .btn-primary {
    --bs-btn-bg: #3F4F44;
    --bs-btn-border-color: #adb5bd;
    --bs-btn-hover-bg: #2C3930;
    --bs-btn-color: white;
    --bs-btn-hover-border-color: #A27B5C;
    --bs-btn-active-bg: #adb5bd;
    --bs-btn-active-border-color: #3F4F44;
}
[data-bs-theme="dark"] .btn-primary:hover {
    --bs-btn-hover-color: #DCD7C9;
}
/* BUTTONS: UNSELECTED */
.btn-outline-secondary {
    --bs-btn-color: black;
    --bs-btn-border-color: #2C3930;
}
[data-bs-theme="dark"] .btn-outline-secondary {
    --bs-btn-color: #DCD7C9;
    --bs-btn-border-color: #DCD7C9;
}
/* BUTTONS: WARNING */
.btn-warning {
    --bs-btn-color: white;
}
/* END */


/* HEADER/NAVIGATION BAR */
/* NAVIGATION BAR ICON/BRAND */
[data-bs-theme="dark"] .navbar-brand {
    color: white;
}
/* NAVIGATION MENU BAR */
.nav-link {
    color: black;
}
[data-bs-theme="dark"] .nav-link {
    color: #DCD7C9;
}
/* NAVIGATION MENU BAR DROPDOWN */
.dropdown-menu {
}
.dropdown-menu .dropdown-item.active {
    background-color: #6F826A;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #BF9264;
}
[data-bs-theme="dark"] .dropdown-menu {
    background-color: #3F4F44;
    --bs-dropdown-link-active-bg: #adb5bd;
    --bs-dropdown-link-hover-bg: #2C3930;
}
[data-bs-theme="dark"] .dropdown-menu .dropdown-item.active {
    background-color: #A27B5C;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: grey;
}
/* DIVIDER BAR */
div.navbar {
    border-bottom: solid 4px #6F826A;
}
[data-bs-theme="dark"] div.navbar {
    border-bottom: solid 3px #DCD7C9;
}
/* END */


/* FRONT PAGE POSTS */
/* POST BODY */
.card {
    --bs-card-border-color: #BF9264;
    --bs-card-border-width: 3px;
}
[data-bs-theme="dark"] .card {
    --bs-card-border-color: #BF9264;
    --bs-card-border-width: 1px;
}
/* POSTS */
.post_list .post_teaser {
    border-bottom: solid 3px #A27B5C;
}
[data-bs-theme="dark"] .post_list .post_teaser {
    border-bottom: solid 1px #A27B5C;
}
/* VOTING BUTTONS */
.main_pane, .voting_buttons div {
    border: solid 3px #BF9264;
}
[data-bs-theme="dark"] .main_pane, .voting_buttons div {
    border: solid 1px #BF9264;
}
[data-bs-theme="dark"] w.main_pane, [data-bs-theme="dark"] .voting_buttons div {
    border: solid 1px #A27B5C;
}
/* END */


/* SIDE BAR */
/* LIST GROUP */
.list-group-item {
    border: solid black;
    border-width: 0 0 var(--bs-list-group-border-width);
}
[data-bs-theme="dark"] .list-group-item {
    border: solid darkgrey;
    border-width: 0 0 var(--bs-list-group-border-width);
}
/* END */


/* MESSAGES */
/* ALERT MESSAGES */
.alert-message {
    color: black;
    background-color: #BBD8A3;
    border-color: #6F826A;
}
[data-bs-theme="dark"] .alert-message {
    background-color: #3F4F44;
    border-color: white;
    color: white;
}
/* END */


/* ??? */
/* ??? */
.coolfieldset.collapsed legend, .coolfieldset legend, .coolfieldset.expanded legend {
    background-color: white;
}
[data-bs-theme="dark"] .coolfieldset.collapsed legend, [data-bs-theme="dark"] .coolfieldset legend, [data-bs-theme="dark"] .coolfieldset.expanded legend {
    background-color: black;
}
/* ??? */
.domain_link, .domain_link a {
    color: black;
}
[data-bs-theme="dark"] .domain_link, [data-bs-theme="dark"] .domain_link a {
    color: white;
}
/* END */
