{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    return redirect(url_for('auth.check_email'))
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%} -%}
{% from 'bootstrap5/form.html' import render_form -%}

{% block app_content -%}
<script src="/static/js/simplewebauthn13.umd.min.js" nonce="{{ session.nonce }}"></script>
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title text-center">{{ _('Log in') }}</div>
                    {{ render_form(form) }}
                    {% if google_oauth -%}
                    <br>
                    <hr />
                    <p align="center">OR<br><br>
                        {% if google_oauth -%}
                            <a href="/auth/google_login" class="btn btn-outline-primary">{{ _('Log in with Google') }}
                                <img src="/static/images/tiny_g_logo.png" width="16" alt="Logo"></a>
                        {% endif -%}
                        <a href="/auth/google_login" class="btn btn-outline-primary">{{ _('Log in with Google') }}
                            <img src="/static/images/tiny_g_logo.png" width="16" alt="Logo"></a>
                    </p>
                    {% endif -%}
                    {% if mastodon_oauth -%}
                    <p align="center">OR<br><br>
                        <a href="/auth/mastodon_login" class="btn btn-outline-primary">{{ _('Sign In With Mastodon') }}
                            <img src="/static/images/mastodon_ico.png" width="16" alt="Logo"></a>

                    </p>
                    <p align="center">{{ _('or use a username and password:') }}</p>
                    {% endif -%}
                    <hr />
                    <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Register new account') }}</a></p>
                    <p class="mb-0">
                        {{ _('Forgot Your Password?') }}
                        <a href="{{ url_for('auth.reset_password_request') }}">{{ _('Reset it') }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock -%}

