{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}

        <div class="row">
            <div class="col col-login mx-auto">
                <div class="card mt-5">
                    <div class="card-body p-6" id="registration_form">
                        {% if site.registration_mode != 'Closed' %}
                            <div class="card-title text-center">{{ _('Create new account') }}</div>
                            {% if google_oauth -%}
                            <p align="center">
                                <a href="/auth/google_login" class="btn btn-outline-primary">{{ _('Log in with Google') }}
                                    <img src="/static/images/tiny_g_logo.png" width="16" alt="Logo"></a>

                            </p>
                            <p align="center">{{ _('or use a username and password:') }}</p>
                            {% endif -%}
                            {% if mastodon_oauth -%}
                            <p align="center">
                                <a href="/auth/mastodon_login" class="btn btn-outline-primary">{{ _('Sign In With Mastodon') }}
                                    <img src="/static/images/tiny_g_logo.png" width="16" alt="Logo"></a>

                            </p>
                            <p align="center">{{ _('or use a username and password:') }}</p>
                            {% endif -%}
                            {{ render_form(form) }}
                        {% else %}
                            <p>{{ _('Registration is closed. Only admins can create accounts.') }}</p>
                            <p>{{ _('If you would like to sign up for PieFed, choose one of the other instances in our network:') }}</p>
                            <p class="text-center"><a class="btn btn-primary" href="https://join.piefed.social/try/" title="{{ _('List of open PieFed instances') }}">{{ _('Try PieFed') }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
