{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% from "_macros.html" import render_communityname %}
{% from "post/post_teaser/_macros.html" import render_article, render_link, render_poll, render_image, render_video %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        <nav id="breadcrumb_nav" aria-label="{{ _('Breadcrumbs') }}">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/domains">{{ _('Domains') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ domain.name|shorten }}</li>
          </ol>
        </nav>
        {% if rss_feed -%}
            <p class="mt-4 d-block" style="float: right;">
                <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> RSS feed</a>
            </p>
        {% endif -%}
        <h1 class="mt-2">{{ domain.name }}</h1>
        {% if domain.post_warning -%}
            <p>{{ domain.post_warning }}</p>
        {% endif -%}
        <div class="post_list">
            {% for post in posts.items %}
                {% include 'post/_post_teaser.html' %}
            {% else %}
                <p>{{ _('No posts in this domain yet.') }}</p>
            {% endfor %}
        </div>

        <nav aria-label="{{ _('Pagination') }} class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </main>

    <aside id="side_pane" class="col-12 col-lg-4 side_pane" role="complementary">
        {% if current_user.is_authenticated %}
            <div class="card mt-3">
                <div class="card-header">
                     <h2>{{ _('Domain management') }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if domain.blocked_by(current_user) %}
                            <div class="col-4">
                              <a class="w-100 btn btn-primary" role="button" aria-label="{{ _('Unblock') }}" hx-post="/d/{{ domain.id }}/unblock" hx-trigger="click throttle:1s"tabindex="0">{{ _('Unblock') }}</a>
                            </div>
                        {% else %}
                            <div class="col-4">
                              <a class="w-100 btn btn-primary" role="button" aria-label="{{ _('Block') }}" hx-post="/d/{{ domain.id }}/block" hx-trigger="click throttle:1s"tabindex="0">{{ _('Block') }}</a>
                            </div>
                        {% endif %}
                        {% if user_access('ban users', current_user.id) or user_access('manage users', current_user.id) %}
                            {% if domain.banned %}
                                <div class="col-8">
                                    <a class="w-100 btn btn-primary confirm_first send_post" href="#" data-url="/d/{{ domain.id }}/unban">{{ _('Unban') }}</a>
                                </div>
                            {% else %}
                                <div class="col-8">
                                    <a class="w-100 btn btn-primary confirm_first send_post" href="#" data-url="/d/{{ domain.id }}/ban">{{ _('Ban instance-wide') }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if form -%}
                            <div class="mt-4">
                                {{ render_form(form) }}
                            </div>
                        {% endif -%}
                    </div>
                </div>
            </div>
        {% endif %}

        {% include "_inoculation_links.html" %}
    </aside>
</div>
<div class="row">


</div>
{% endblock %}
