SECRET_KEY=
SERVER_NAME='127.0.0.1:5000'
DATABASE_URL=postgresql+psycopg2://pyfedi:pyfedi@127.0.0.1/pyfedi
MAIL_SERVER=''
MAIL_PORT=0
# Remove the below line if not using TLS - do not set it to False
MAIL_USE_TLS=True
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_FROM=''
MAIL_ERRORS=False

CACHE_TYPE='FileSystemCache'
CACHE_DIR='/dev/shm/pyfedi'
CELERY_BROKER_URL='redis://localhost:6379/1'
CACHE_REDIS_URL='redis://localhost:6379/1'

BOUNCE_ADDRESS=''
BOUNCE_HOST=''
BOUNCE_USERNAME=''
BOUNCE_PASSWORD=''

FLASK_APP = 'pyfedi.py'
SENTRY_DSN = ''

AWS_REGION = 'ap-southeast-2'

CLOUDFLARE_API_TOKEN = ''
CLOUDFLARE_ZONE_ID = ''

IPINFO_TOKEN = ''


STRIPE_SECRET_KEY = ''
STRIPE_PUBLISHABLE_KEY = ''
STRIPE_MONTHLY_SMALL = ''
STRIPE_MONTHLY_SMALL_TEXT = 'Pay $5 per month'
STRIPE_MONTHLY_BIG = ''
STRIPE_MONTHLY_BIG_TEXT = 'Pay $10 per month'
WEBHOOK_SIGNING_SECRET = ''

ENABLE_ALPHA_API = 'true'

# CORS configuration for API routes (defaults to '*' if not set)
CORS_ALLOW_ORIGIN = '*'
