SECRET_KEY=
SERVER_NAME='127.0.0.1:5000'
DATABASE_URL=postgresql+psycopg2://pyfedi:pyfedi@127.0.0.1/pyfedi
MAIL_SERVER=''
MAIL_PORT=0
# Remove the below line if not using TLS - do not set it to False
MAIL_USE_TLS=True
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_FROM=''
ERRORS_TO=''

CACHE_TYPE='FileSystemCache'
CACHE_DIR='/dev/shm/pyfedi'
CELERY_BROKER_URL='redis://localhost:6379/1'
CACHE_REDIS_URL='redis://localhost:6379/1'

BOUNCE_ADDRESS=''
BOUNCE_HOST=''
BOUNCE_USERNAME=''
BOUNCE_PASSWORD=''

FLASK_APP = 'pyfedi.py'
SENTRY_DSN = ''

# For real-time notifications. See https://codeberg.org/PieFed/piefed-notifs
NOTIF_SERVER = 'https://your-domain.tld'

AWS_REGION = 'ap-southeast-2'

CLOUDFLARE_API_TOKEN = ''
CLOUDFLARE_ZONE_ID = ''

IPINFO_TOKEN = ''

# leave at 0 to automatically fetch core count
NUM_CPU = 0

STRIPE_SECRET_KEY = ''
STRIPE_PUBLISHABLE_KEY = ''
STRIPE_MONTHLY_SMALL = ''
STRIPE_MONTHLY_SMALL_TEXT = 'Pay $5 per month'
STRIPE_MONTHLY_BIG = ''
STRIPE_MONTHLY_BIG_TEXT = 'Pay $10 per month'
WEBHOOK_SIGNING_SECRET = ''

ENABLE_ALPHA_API = 'true'

# CORS configuration for API routes (defaults to '*' if not set)
CORS_ALLOW_ORIGIN = '*'

PAGE_LENGTH = 75

# Send account details to this ldap server
LDAP_SERVER = '127.0.0.1'
LDAP_PORT = 389
LDAP_USE_SSL = 0
LDAP_USE_TLS = 0
LDAP_BIND_DN = 'cn=admin,dc=piefed,dc=social'
LDAP_BIND_PASSWORD = 'your password here'
LDAP_BASE_DN = 'ou=users,dc=piefed,dc=social'
LDAP_USER_FILTER = '(uid={username})'
LDAP_ATTR_USERNAME = 'uid'
LDAP_ATTR_EMAIL = 'mail'
LDAP_ATTR_PASSWORD = 'userPassword'


MEDIA_IMAGE_MAX_DIMENSION = 2000
MEDIA_IMAGE_FORMAT = ''
MEDIA_IMAGE_QUALITY = 90
MEDIA_IMAGE_THUMBNAIL_FORMAT = 'WEBP'
MEDIA_IMAGE_THUMBNAIL_QUALITY = 93
MEDIA_IMAGE_MEDIUM_FORMAT = 'JPEG'
MEDIA_IMAGE_MEDIUM_QUALITY = 90

# number of months to keep local user voting data, defaults to 6 if not set. Use -1 to never delete.
# KEEP_LOCAL_VOTE_DATA_TIME = 6

# number of months to keep remote user voting data, defaults to 6 if not set. Use -1 to never delete.
# KEEP_REMOTE_VOTE_DATA_TIME = 6

# If you have a header that contains the country code, set it here, if available this will be used rather than the IPInfo information.
# For example if you want to use Cloudflare's IP geolocation, uncomment the following line
# COUNTRY_SOURCE_HEADER='CF-IPCountry'

# Stop comments and votes on posts after X months and save their data to S3/disk to minimize DB size growth. 0 to disable.
# ARCHIVE_POSTS = 0

# For use with Libretranslate
TRANSLATE_ENDPOINT = ''
TRANSLATE_KEY = ''
