SECRET_KEY='change this to random characters'

SERVER_NAME='your_domain_here'

POSTGRES_USER='piefed'
POSTGRES_PASSWORD='piefed'
POSTGRES_DB='piefed'

DATABASE_URL=postgresql+psycopg2://piefed:piefed@db/piefed

CACHE_TYPE='RedisCache'
CACHE_REDIS_DB=1
CACHE_REDIS_URL='redis://redis:6379/0'
CELERY_BROKER_URL='redis://redis:6379/1'

FULL_AP_CONTEXT=0

SPICY_UNDER_10 = 2.5
SPICY_UNDER_30 = 1.85
SPICY_UNDER_60 = 1.25

# CORS configuration for API routes (defaults to '*' if not set)
CORS_ALLOW_ORIGIN = '*'

ENABLE_ALPHA_API = 'true'

# Stop comments and votes on posts after X months and save their data to S3/disk to minimize DB size growth. 0 to disable.
# ARCHIVE_POSTS = 0
