/*
TODO:
 - [ ] Add better upvote buttons
 - [X] Add customization options to the colorscheme
 - [ ] Piefed Domination
*/
/* COLORS */
:root {
    --accent-color: #30957a;
    --accent-color-hovered: #296b59;
    --accent-color-active: #00c58f;

    --accent-color-rgb: 48, 149, 122;
    --accent-color-hovered-rgb: 41, 107, 89;

    /* DO NOT TOUCH! */
    --bs-link-color: var(--accent-color);
    --bs-link-hover-color: var(--accent-color-hovered);
    --bs-link-color-rgb: var(--accent-color-rgb);
    --bs-link-hover-color-rgb: var(--accent-color-hovered-rgb);
}

[data-bs-theme="dark"] {
    color-scheme: dark;
    --bs-body-color: #adb5bd;
    --bs-body-color-rgb: 173, 181, 189;
    --bs-body-bg: #111111;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(173, 181, 189, 0.75);
    --bs-secondary-color-rgb: 173, 181, 189;
    --bs-secondary-bg: #040404;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(173, 181, 189, 0.5);
    --bs-tertiary-color-rgb: 173, 181, 189;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-code-color: #e685b5;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}

.btn-primary {
    /* DEFAULT STATE */
    --bs-btn-bg: var(--accent-color);
    --bs-btn-border-color: var(--accent-color);

    /* HOVERED STATE */
    --bs-btn-hover-bg: var(--accent-color-hovered);
    --bs-btn-hover-border-color: var(--accent-color-hovered);

    /* ACTIVE STATE */
    --bs-btn-active-bg: var(--accent-color-active);
    --bs-btn-active-border-color: var(--accent-color-active);

    /* DISABLED STATE */
    --bs-btn-disabled-bg: var(--accent-color);
    --bs-btn-disabled-border-color: var(--accent-color);
}

.btn-outline-primary {
    /* DEFAULT STATE */
    --bs-btn-color: var(--accent-color);
    --bs-btn-border-color: var(--accent-color);

    /* ACTIVE STATE */
    --bs-btn-active-bg: var(--accent-color-active);
    --bs-btn-active-border-color: var(--accent-color-active);
}

.nav-pills {
    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--accent-color-active);
}

.dropdown-menu .dropdown-item.active {
    background-color: var(--accent-color-active);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* END COLORS */
/* BUTTONS */
.form-check-input:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.dropdown-item:active {
    background-color: var(--accent-color-active);
}
.voting_buttons_new .downvote_button,
.voting_buttons_new .upvote_button {
    color: unset;
}
/* END BUTTONS */
/* PREPARATIONS */
body {
    background-color: var(--bs-secondary-bg) !important;
}

.main_pane,
.table,
.card {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg) !important;
    border-radius: 7px;
}

div.navbar {
    border-bottom: unset !important;
    background-color: var(--bs-secondary-bg) !important;
    min-height: 60px;
}

#outer_container {
    margin-top: unset;
    padding-top: unset;
}

.navbar-brand {
    line-height: unset;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}
/* END PREPARATIONS */
/* POSTS */
.fe-image {
    display: none;
}

#more_replies > .row > .col-10 > .mt-1 {
    background-color: var(--bs-info-bg-subtle);
    border-radius: 5px;
    padding: 3px;
}

#more_replies > .row > .col-10 > .mt-1 > a {
    color: #a1a1a1;
}

.post_teaser_image_preview,
.post_image img,
.masonry_thumb img,
.url_thumbnail img {
    border-radius: 10px;
}

.post_teaser_body > h3:has(.fe-sticky-right) .post_teaser_title_a {
    color: var(--bs-link-color);
}

.fe-sticky-right,
.fe-sticky-left {
    display: none;
}

.table {
    border-radius: 10px !important;
    border: 1px solid var(--bs-border-color) !important;
}

.tab-content > .tab-pane {
    border : solid 1px var(--bs-border-color);
    border-top: none;
}

.mb-2,
#btnGroupDrop1,
.post_teaser_clickable {
    font-style: italic;
    color: var(--bs-secondary-color);
}

.author_link {
    font-style: normal !important;
}
/* END POSTS */
/*ALERT*/
[data-bs-theme="dark"] .alert-message {
    background-color: var(--bs-secondary-bg);
    border-color: var(--accent-color);
}
/* END ALERT*/
/* FIELDS */
.downarea-toolbar,
.form-control,
.downarea-bottom {
    background-color: var(--bs-dark-bg-subtle) !important;
    border-color: var(--bs-border-color);
}

.downarea-toolbar-tool {
    background-color: var(--bs-dark-bg-subtle) !important;
}

.ts-control,
#which_community-ts-dropdown,
.optgroup-header,
#which_community-opt-2,
.ts-dropdown {
    background-color: var(--bs-dark-bg-subtle) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-border-color);
}

.ts-dropdown .active {
    color: var(--bs-body-color) !important;
    background-color: var(--accent-color-hovered);
}

.downarea-textarea textarea {
    border-radius: 0px !important;
}
/* END FIELDS */
.post_teaser_title_a {
    color: var(--bs-heading-color);
}

/* USER PREVIEWS */
.preview_avatar_image img {
    border-radius: 10px;
}

.user_preview {
    background-color: transparent !important;
}

.user_preview > .card {
    background-color: black;
    
}
/* END USER PREVIEWS */
/* COMMUNITIIES */
.community_header {
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* COMMUNITIIES */
/* MESSAGES */
.from_me,
.from_me a {
    background-color: #218AFF !important;
    color: black !important;
    border: 0px;
}

.from_other_party,
.from_other_party a {
    background-color: #3DDC84;
    color: black;
    border: 0px;
}

.message_created_at {
    color: black !important;
}
/* END MESSAGES */
/* TAGS */
.user_note,
.user_flair {
    background-color: var(--bs-info-border-subtle);
    color: black;
    vertical-align: inherit;
    border-radius: 3px;
    font-style: normal;
    /* THESE ARE TEMPORARY. REMOVE LATER */
    border: solid 1px var(--bs-info-border-subtle);
    padding: 0px 3px 0px 3px;
    display: inline-block;
}

.user_flair.original_poster {
    background-color: #3DDC84;
    border-color: #3DDC84;
    color: black;
    vertical-align: inherit;
    border-radius: 3px;
}

/* END TAGS */
/* COMMENTS */
.comment.distinguished > .row:first-child {
    background-color: var(--bs-tertiary-bg) !important;
    border-radius: 1rem;
    margin-left: -6px;
    margin-right: -6px;
}
/* END COMMENTS */
/* CFS */
.coolfieldset {
    border: 1px solid var(--bs-border-color) !important;

    border-radius: var(--bs-border-radius) !important;
    background-color: var(--bs-body-bg) !important;
}

.coolfieldset legend {
    color: var(--bs-heading-color) !important;
    background: var(--bs-body-bg) !important;
    border: 1px solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
    padding: 2px;
}

.col-12:has(#community_filters) {
    padding-bottom: 10px !important;
}
/* END CFS */
