{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% from "_macros.html" import render_communityname %}

{% block app_content %}
        <div class="row">
            <div class="col mx-auto">
                <div class="card mt-5">
                    <div class="card-body p-6">
                        <div class="card-title">{{ _('Search') }}</div>
                        <p>Accepted address formats: </p>
                        <ul>
                            <li>!community@server.name</li>
                            <li>https://server.name/c/community (lemmy)</li>
                            <li>https://server.name/m/magazine (kbin/mbin)</li>
                        </ul>
                        <p>Search on <a href="https://lemmyverse.net/communities" target='_blank'>Lemmyverse.net</a> to find some.</p>
                        <p>Or just start typing to see potential matching communities.</p>
                        <form action="" method="post" class="form" role="form">
                            {{ form.csrf_token() }}
                            <div class="form-group required">
                                <label class="form-control-label" for="address">Community address</label>
                                {{ form.address(**{"list":"communitysearch","class":"form-control","hx-get":"/community/search-names","hx-trigger":"keyup changed","hx-target":"#communitysearch","hx-swap":"innerHTML"}) }}
                                {% for error in form.address.errors %}
                                    <br><span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </div>
                            {{ render_field(form.submit) }}
                            <datalist id="communitysearch"></datalist>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        {% if new_community and not new_community.banned %}
            <div class="row">
                <div class="col mx-auto">
                    <div class="card mt-5">
                        <div class="card-body p-6">
                            <div class="card-title">{{ _('Found a community:') }}</div>
                            <div class="card-body">
                                <p>
                                    {{ render_communityname(new_community) }}
                                </p>
                                <p> {% if subscribed %}
                                        <a class="btn btn-primary mt-4" href="/community/{{ new_community.link() }}/unsubscribe">{{ _('Leave') }}</a>
                                    {% else %}
                                        {% if not new_community.instance.gone_forever %}
                                            <a class="btn btn-primary mt-4" href="/community/{{ new_community.link() }}/subscribe">{{ _('Join') }}</a>
                                        {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
{% endblock %}
