{% extends "post/post_edit.html" %}

{% block title %}<h1>{{ _('Create post') }}</h1>{% endblock %}

{% block post_type %}
    <div class="form-group">
        <label class="form-control-label" for="type_of_post">
            {{ _('Type of post') }}
        </label>

        <div id="type_of_post" class="btn-group flex-wrap" role="navigation">

            <a href="{{ url_for('community.add_post', actor=actor, type='link') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_LINK else 'btn-outline-secondary' }}" aria-label="{{ _('Share a link') }}">{{ _('Link') }}</a>
            <a href="{{ url_for('community.add_post', actor=actor, type='discussion') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_ARTICLE else 'btn-outline-secondary' }}" aria-label="{{ _('Start a discussion') }}">{{ _('Discussion') }}</a>
            <a href="{{ url_for('community.add_post', actor=actor, type='image') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_IMAGE else 'btn-outline-secondary' }}" aria-label="{{ _('Share an image') }}">{{ _('Image') }}</a>
            <a href="{{ url_for('community.add_post', actor=actor, type='video') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_VIDEO else 'btn-outline-secondary' }}" aria-label="{{ _('Share a video') }}">{{ _('Video') }}</a>
            {% if community.instance.can_poll() -%}
                <a href="{{ url_for('community.add_post', actor=actor, type='poll') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_POLL else 'btn-outline-secondary' }}" aria-label="{{ _('Create a poll') }}">{{ _('Poll') }}</a>
            {% else -%}
                <a href="#" class="btn {{ 'btn-primary' if post_type == POST_TYPE_POLL else 'btn-outline-secondary' }} disabled" aria-disabled="true" tabindex="-1" aria-label="{{ _('Create a poll') }}">{{ _('Poll') }}</a>
            {% endif -%}
            {% if community.instance.can_event() -%}
                <a href="{{ url_for('community.add_post', actor=actor, type='event') }}" class="btn {{ 'btn-primary' if post_type == POST_TYPE_EVENT else 'btn-outline-secondary' }}" aria-label="{{ _('Create an event') }}">{{ _('Event') }}</a>
            {% else -%}
                <a href="#" class="btn {{ 'btn-primary' if post_type == POST_TYPE_EVENT else 'btn-outline-secondary' }} disabled" aria-disabled="true" tabindex="-1" aria-label="{{ _('Create an event') }}">{{ _('Event') }}</a>
            {% endif -%}
        </div>

    </div>

    {{ render_field(form.communities) }}
{% endblock %}

{# wondering where the rest of the form is? See line 1 #}