{% if posts -%}
    <p>
        {{ _('This link has already been posted elsewhere:')}}
    </p>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                {{ _('Post Title') }}
            </th>
            <th>
                {{ _('Community') }}
            </th>
        </tr>
        {% for post in posts -%}
            <tr>
                <td>
                    <a href="{{ post.slug if post.slug else url_for('activitypub.post_ap', post_id=post.id) }}">
                        {{ post.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ post.community.local_url() }}">
                        {{ post.community.lemmy_link() }}
                    </a>
                </td>
            </tr>
        {% endfor -%}
    </table>
{% endif -%}
{% if title -%}
<input id="retrieved_title" type="hidden" value="{{ title }}" hx-swap-oob="true">
{% endif -%}
{% if description -%}
<input id="retrieved_description" type="hidden" value="{{ description }}" hx-swap-oob="true">
{% endif -%}
