{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field %}
{% from "_macros.html" import render_username, render_communityname %}
{% from "post/reply/_macros.html" import render_comment_voting_buttons, render_reply_notification_toggle %}
{% block app_content %}
    <div class="row">
        <main class="col-12 col-lg-8 position-relative main_pane">
            <nav aria-label="breadcrumb"
                 id="breadcrumb_nav"
                 aria-label="{{ _('Navigation') }}">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">{{ _("Home") }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/communities">{{ _("Communities") }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('activitypub.community_profile', actor=community.ap_id if community.ap_id is not none else community.name) }}">{{ (community.title + '@' + community.ap_domain)|shorten }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ _("Moderation") }}</li>
                </ol>
            </nav>
            {% include "community/_community_moderation_nav.html" %}
            <div class="row">
                <div class="col-12 col-md-10">
                    <h1 class="mt-2">{{ _("Comments") }}</h1>
                </div>
                <div class="col-12 col-md-2 text-right">
                    <!-- <a class="btn btn-primary" href="{{ url_for('community.community_find_moderator', community_id=community.id) }}">{{ _('Add moderator') }}</a> -->
                </div>
            </div>
            <p>{{ _('Review comments in %(community)s', community=community.display_name() ) }}</p>
            {% if post_replies %}
                <div class="post_list comments">
                    {% for post_reply in post_replies.items %}
                        {% with teaser=True %}
                            {% include 'post/_post_reply_teaser.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <nav aria-label="{{ _('Comment pagination') }}"
                     class="mt-4"
                     role="navigation">
                    {% if replies_prev_url %}
                        <a href="{{ replies_prev_url }}#comments" class="btn btn-primary">
                            <span aria-hidden="true">&larr;</span> {{ _("Previous page") }}
                        </a>
                    {% endif %}
                    {% if replies_next_url %}
                        <a href="{{ replies_next_url }}#comments" class="btn btn-primary">
                            {{ _("Next page") }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    {% endif %}
                </nav>
            {% else %}
                <p>{{ _("No comments yet.") }}</p>
            {% endif %}
        </main>
    </div>
{% endblock %}
