{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% block app_content %}
    <div class="row">
        <main class="col-12 col-lg-8 position-relative main_pane">
            <nav aria-label="breadcrumb"
                 id="breadcrumb_nav"
                 aria-label="{{ _('Navigation') }}">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">{{ _("Home") }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/communities">{{ _("Communities") }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('activitypub.community_profile', actor=community.ap_id if community.ap_id is not none else community.name) }}">{{ (community.title + '@' + community.ap_domain)|shorten }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ _("Invite") }}</li>
                </ol>
            </nav>
            {% block title %}
                <h1 class="mt-2">{{ _('Invite to %(name)s', name=community.display_name() ) }}</h1>
            {% endblock %}
            <form method="post"
                  enctype="multipart/form-data"
                  id="invite_community_form"
                  role="form">
                {{ form.csrf_token() }}
                {{ render_field(form.to) }}
                <p>
                    <small class="field_hint">{{ _("Start fediverse handles with '@' to differentiate them from email addresses.") }}</small>
                </p>
                <div class="row mb-4">
                    <div class="col-auto">{{ render_field(form.submit) }}</div>
                </div>
            </form>
        </main>
    </div>
{% endblock %}
