{# Shared utility macros used across multiple templates #}

{% macro render_username(user, add_domain=True, htmx_redirect_back_to=None, current_user=None, low_bandwidth=False, collapsed=False, admin_ids=None, user_notes=None, inline=False) -%}
<div class="render_username" xmlns="http://www.w3.org/1999/xhtml">
    {% if user.deleted -%}
        {% if current_user and current_user.is_authenticated and current_user.get_id() in admin_ids -%}
            <a href="/u/{{ user.link() }}" title="{{ user.ap_id if user.ap_id != none else user.user_name }}" aria-label="{{ _('Author') }}">[deleted]</a>
        {% else -%}
            [deleted]
        {% endif -%}
    {% else -%}
        <a href="/u/{{ user.link() }}" class="author_link {{ 'donor' if user.stripe_subscription_id }}" title="" rel="author">
            {% if user.avatar_id and not low_bandwidth and not collapsed -%}
                <img src="{{ user.avatar_thumbnail() }}" alt="" loading="lazy" class="{{ 'gif' if user.avatar_thumbnail().endswith('.gif') }}" />
            {% endif -%}
            {{ user.display_name() }}{% if add_domain and not user.is_local() %}<span class="text-muted">@{{ user.ap_domain }}</span>{% endif %}
        </a>
        <div class="user_preview d-none" id="preview_{{ user.id }}"
            {% if htmx_redirect_back_to -%}
                hx-get="{{ url_for('user.user_preview', user_id=user.id, return_to=htmx_redirect_back_to) }}"
            {% else %}
                hx-get="{{ url_for('user.user_preview', user_id=user.id) }}"
            {% endif %}
            hx-trigger="intersect once"
            hx-target="this"
            hx-swap="innerHTML"
        ></div>
        {% if user.created_recently() -%}
            <span class="fe fe-new-account" title="New account"> </span>
        {% endif -%}
        {% if user.bot or user.bot_override -%}
            <span class="fe fe-bot-account" title="Bot account"> </span>
        {% endif -%}
        {% if current_user and user.id != current_user.id -%}
            {% if user.reputation < -12 -%}
                <span class="fe fe-warning red" title="{{ _('Very low reputation. Beware.') }}"> </span>
                <span class="fe fe-warning red" title="{{ _('Very low reputation. Beware!') }}"> </span>
            {% elif user.reputation < -3 -%}
                <span class="fe fe-warning orangered" title="{{ _('Low reputation.') }}"> </span>
            {% endif -%}
        {% endif -%}
        {% if current_user and current_user.is_authenticated -%}
            {% set user_note = user_notes[user.id] if user_notes and user.id in user_notes else none %}
            {% if user_note -%}
                <span class="user_note" title="{{ _('User note: %(note)s', note=user_note) }}">{{ user_note | truncate(12, True) }}</span>
            {% endif -%}
        {% endif -%}
    {% endif -%}
</div>
{%- endmacro %}

{% macro render_communityname(community, add_domain=True, low_bandwidth=False, collapsed=False) -%}
    <span class="render_community">
        <a href="/c/{{ community.link() }}">
            {% if community.icon_id and not low_bandwidth and not collapsed -%}
                <img src="{{ community.icon_image('tiny') }}" class="community_icon rounded-circle" alt="" loading="lazy" />
            {% endif -%}
            {{ community.title }}{% if add_domain and not community.is_local() %}<span class="text-muted">@{{ community.ap_domain }}</span>{% endif %}
        </a>
    </span>
{%- endmacro %}

{% macro render_feedname(feed, add_domain=True, low_bandwidth=False, collapsed=False) -%}
    <span class="render_feed">
        <a href="/f/{{ feed.link() }}">
            {% if feed.icon_id and not low_bandwidth and not collapsed -%}
                <img src="{{ feed.icon_image('tiny') }}" class="community_icon rounded-circle" alt="" loading="lazy" />
            {% endif -%}
            {{ feed.title }}{% if add_domain and not feed.is_local() %}<span class="text-muted">@{{ feed.ap_domain }}</span>{% endif %}
        </a>
    </span>
{%- endmacro %}
