@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/inter/InterVariable.woff2") format("woff2");
}

body, .form-control {
    font-family: Inter, Arial, sans-serif;
}
