{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% block app_content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ _("429 - Too Many Requests") }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ _("You have been temporarily rate-limited. Please wait a while before making more requests.") }}</p>
                    <p>{{ _("Request limit:") }} {{ error.description }}</p>
                    <p>{{ _("This limitation is in place to prevent abuse and ensure fair usage for all users.") }}</p>
                    <p>
                        {{ _("If you believe this is a mistake, please let us know about this, so we can repair it and make PieFed better for everyone.") }}
                    </p>
                    <p>
                        <a href="#" class="go_back">{{ _("Back") }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
