<tr>
    <td><a href="/f/{{ feed.name }}">{{ feed.title }}</a></td>
    {% if active_child == 'user_feeds' %}
        <td>{{ feed.parent_feed_name() }}</td>
    {% endif %}
    <td>{{ feed.num_communities }}</td>
    <td>{{ feed.creator() }}</td>
    {% if active_child == 'user_feeds' %}
        <td>{{ feed.public }}</td>
        {% if current_user.is_admin() %}
            <td>{{ feed.is_instance_feed }}</td>
        {% endif %}
        <td>
            <a href="/feed/{{ feed.id }}/edit">{{ _('Edit') }}</a> |
            {% if feed.num_communities == 0 %}
              <a href="/feed/{{ feed.id }}/delete?user_id={{ current_user.id }}" class="confirm_first">{{ _('Delete') }}</a>"
            {% else %}
              Delete
            {% endif %}
        </td>
    {% elif active_child == 'public_feeds' %}
        <td>Copy/Subscribe Button</td>
    {% endif %}
</tr>