<a href="/feed/{{ feed.id }}/notification"
   rel="nofollow"
   aria-live="assertive"
   aria-label="{{ 'Notify about new posts in this feed' if feed.notify_new_posts(current_user.id) else 'Do not notify about new posts' }}"
   class="fe {{ 'fe-bell' if feed.notify_new_posts(current_user.id) else 'fe-no-bell' }} no-underline"
   hx-post="/feed/{{ feed.id }}/notification"
   hx-trigger="click throttle:1s"
   hx-swap="outerHTML"
   title="{{ _('Notify about every new post. Not advisable in high traffic feeds!') }}"></a>
