{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% from "_macros.html" import render_feedname %}
{% block app_content %}
    <div class="row">
        <div class="col mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title">{{ _("Search") }}</div>
                    <p>Accepted address formats:</p>
                    <ul>
                        <li>~feedname@server.name</li>
                        <li>https://server.name/f/feedname (piefed)</li>
                    </ul>
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
    {% if new_feed %}
        <div class="row">
            <div class="col mx-auto">
                <div class="card mt-5">
                    <div class="card-body p-6">
                        <div class="card-title">{{ _("Found a feed:") }}</div>
                        <div class="card-body">
                            <p>{{ render_feedname(new_feed) }}</p>
                            <p>
                                {% if subscribed %}
                                    <a class="btn btn-primary mt-4"
                                       href="/feed/{{ new_feed.link() }}/unsubscribe">{{ _("Leave") }}</a>
                                {% else %}
                                    <a class="btn btn-primary mt-4"
                                       href="/feed/{{ new_feed.link() }}/subscribe">{{ _("Subscribe") }}</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
