{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'public_feeds' %}


{% block app_content %}
<h1>{{ _('Public Feeds') }}</h1>
<div class="row g-2 justify-content-between mt-2 mb-2">
    <div class="col-auto">
        <div class="btn-group">
            <a href="{{ url_for('feed.feed_new') }}" class="btn btn-outline-secondary" aria-label="{{ _('Create a Feed') }}">{{ _('Create a Feed') }}</a>
            <a href="{{ url_for('feed.feed_add_remote') }}" class="btn btn-outline-secondary" aria-label="{{ _('Add a Feed from another instance') }}">{{ _('Add remote Feed') }}</a>
        </div>
    </div>    
</div>
{% if server_has_feeds %}
<table class="communities_table table table-striped mt-1">
    <thead>
        <tr>
            <th> </th>
            <th>Name</th>
            <th>Communities</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for feed in public_feeds_list -%}
        {% include 'feed/_feed_table_row.html' -%}
    {% endfor -%}
    </tbody>
</table>
{% else -%}
    <p>{{ _('No Public Feeds yet...') }}</p>
{% endif -%}
{% endblock %}