{# Options:
  teaser: Renders just a teaser
  disable_voting: Disable voting buttons (to prevent mass downvoting)
  no_collapse: Don't collapse for admin and moderator views
  show_deleted: Show deleted content (for admin views)
  children: replies to this reply

  NB: there is a clone of this file, add_reply_inline_result.html which is used for rendering the result of the ajax call
      to create a new comment - that file needs to be kept in sync with this one.
#}
{% if current_user.is_authenticated -%}
    {% set collapsed = ((post_reply.score <= current_user.reply_collapse_threshold) or post_reply.deleted)
                       and not no_collapse -%}
{% else -%}
    {% set collapsed = (post_reply.score <= -10) and not no_collapse -%}
{% endif -%}
<div class="container comment{% if post_reply.score and post_reply.score <= -10 %} low_score{% endif %}{% if post_reply.distinguished %} distinguished{% endif %}{% if post_reply.author.id == post_reply.post.author.id %} original_poster{% endif %}{% if post_reply.author.id == current_user.get_id() %} my_comment{% endif %}{% if post_reply.has_been_reported() %} reported{% endif %}{% if post_reply.answer %} answer{% endif %}" id="comment_{{ post_reply.id }}"{% if post_reply.language_id and post_reply.language.code != 'en' %} lang="{{ post_reply.language.code }}"{% endif %} aria-level="{{ post_reply.depth+1 }}" role="treeitem">
    {% if not post_reply.author.indexable -%}<!--googleoff: all-->{% endif -%}
    {% if teaser -%}
    <div class="row">
        <div class="col-12 hidable">
            {% if post_reply.post.deleted: -%}
                reply to: <a href="{{ url_for('activitypub.post_ap', post_id=post_reply.post.id, _anchor='comment_' + str(post_reply.id)) }}">[deleted post]</a>
            {% else -%}
                reply to: <a href="{{ url_for('activitypub.post_ap', post_id=post_reply.post.id, _anchor='comment_' + str(post_reply.id)) }}">{{ post_reply.post.title | truncate(80, True) }}</a>
            {% endif -%}
            <span class="comment_community">in {{ render_communityname(post_reply.post.community, low_bandwidth=low_bandwidth, collapsed=collapsed) }}</span>
        </div>
    </div>
    {% endif -%}
    <div class="row">
        <div class="col-auto comment_author">
            <span class="visually-hidden">by</span>
            {{ render_username(post_reply.author, htmx_redirect_back_to=request.path + '#comment_' + str(post_reply.id), current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}
            {%- if user_flair and post_reply.author.id in user_flair -%}
                <span class="user_flair">{{ user_flair[post_reply.author.id] }}</span>
            {% elif post_reply.author.id in user_pronouns and user_pronouns[post_reply.author.id] not in post_reply.author.display_name() -%}
                <span class="user_flair pronouns">{{ user_pronouns[post_reply.author.id] }}</span>
            {%- endif %}
            {% if post_reply.distinguished -%}<span class="fe fe-distinguished orangered" title="{{ _('Moderator') }}"></span>{% endif -%}
            {% if post_reply.author.id == post_reply.post.author.id -%}
                <span title="Submitter of original post" aria-label="{{ _('Post creator') }}" class="user_flair original_poster">OP</span>
            {% endif -%}
            <span class="comment_time">{% if has_continued %}<a href="{{ url_for('post.continue_discussion', post_id=post_reply.post.id, comment_id=post_reply.id) }}">{% else %}<a href="/post/{{ post_reply.post_id }}#comment_{{ post_reply.id }}">{% endif %}
                {% if post_reply.edited_at -%}
                    {{ _('edited') }} <time datetime="{{ arrow.get(post_reply.posted_at) }}" title="{{ arrow.get(post_reply.posted_at) }}">{{ arrow.get(post_reply.edited_at).humanize(locale=locale) }}</time>
                {% else -%}
                    <time datetime="{{ arrow.get(post_reply.posted_at).format('YYYY-MM-DD HH:mm:ss ZZ') }}" title="{{ arrow.get(post_reply.posted_at).format('YYYY-MM-DD HH:mm:ss ZZ') }}">{{ arrow.get(post_reply.posted_at).humanize(locale=locale) }}</time>
                {% endif -%}
            </a></span><span class="visually-hidden"> {{ _('depth: %(comment_depth)d', comment_depth=post_reply.depth + 1) }}</span>
            {% if post_reply.has_been_reported() -%}
                    <a href="{{ url_for('community.community_moderate', actor=post_reply.community.link()) }}"><span class="red fe fe-report" title="{{ _('Reported. Check comment for issues.') }}"></span></a>
            {% endif -%}
            {% if post_reply.answer -%}
                <span class="green fe fe-answer" title="{{ _('OP prefers this answer') }}"></span>
            {% endif -%}
            {% if post_reply.deleted -%}
                    <span class="red fe fe-delete" title="{{ _('Comment deleted') }}"></span>
            {% endif -%}
        </div>
        <div class="col-auto">
            <a class="unhide" href="#"><span class="fe fe-expand"></span></a>
        </div>
    </div>

    <div class="row comment_body hidable{% if post_reply.has_been_reported() %} reported{% endif %}">
        <div class="col-12 pr-0" lang="{{ post_reply.language_code() }}">
            {% if post_reply.deleted and not show_deleted -%}
                {% if post_reply.deleted_by is none or post_reply.deleted_by != post_reply.user_id -%}
                    <p>{{ _('Deleted by moderator') }}</p>
                {% else -%}
                    <p>{{ _('Deleted by author') }}</p>
                {% endif -%}
            {% else -%}
                {{ post_reply.body_html | community_links | feed_links | person_links | safe }}
            {% endif -%}
        </div>
    </div>
    <div id="comment_reactions_{{ post_reply.id }}" class="outermost_reaction_container">
        {%- if post_reply.emoji_reactions -%}
        <div class="message_reactions" id="reactions_{{ post_reply.id }}">
            {% for reaction in post_reply.emoji_reactions -%}
                <div class="message_reaction_container me-1">
                    <div class="message_reaction{{ ' reacted' if current_user.is_authenticated and current_user.lemmy_link() in reaction['authors'] }}"
                         hx-post="/comment/{{ post_reply.id }}/emoji_set"
                         hx-vals="{&quot;emoji&quot;: &quot;{{ reaction['token'] }}&quot;}"
                         hx-target="#reactions_{{ post_reply.id }}" hx-swap="outerHTML"
                         title="{{ ', '.join(reaction['authors']) }}">
                        <div class="emoji">{% if reaction['url'] and reaction['url'].startswith('https://') -%}
                                                <img src="{{ reaction['url'] }}" width="20" alt="{{ reaction['token'] }}" referrerpolicy="no-referrer">
                                            {%- else -%}
                                                {{ reaction['token'] }}
                                            {%- endif %}</div>
                        <div class="message_reaction_count">{{ reaction['count'] }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {%- endif -%}
    </div>
    <div id="post_reply_ai_check_{{ post_reply.id }}"></div>
    {% if not banned_from_community %}
    <div class="comment_actions hidable">
        <div class="post_replies_link">
            {% if post_reply.post.comments_enabled and post_reply.replies_enabled -%}
                {% if not post_reply.post.deleted and not post_reply.deleted -%}
                    {% if current_user.is_authenticated -%}
                        <a href="{{ url_for('post.add_reply', post_id=post_reply.post.id, comment_id=post_reply.id) }}"
                           hx-get="{{ url_for('post.add_reply_inline', post_id=post_reply.post.id, comment_id=post_reply.id, nonce=nonce) }}"
                           hx-target="#reply_to_{{ post_reply.id }}"
                           hx-swap="innerHTML focus-scroll:true"
                           rel="nofollow noindex"><span class="fe fe-reply"></span><span class="hide_skinny_mobile">&nbsp;{{ _('reply') }}</span></a>
                    {% else -%}
                        <a href="{{ url_for('auth.login', next='/post/' + str(post_reply.post.id)) }}"><span class="fe fe-reply"></span><span class="hide_skinny_mobile">&nbsp;{{ _('reply') }}</span></a>
                    {% endif -%}
                {% else -%}
                    <span class="fe fe-reply"></span><span class="hide_skinny_mobile">&nbsp;{{ _('reply') }}</span>
                {% endif -%}
            {% else -%}
                <span class="fe fe-lock text-muted" title="{{ _('locked') }}"></span><span class="hide_skinny_mobile">&nbsp;</span>
            {% endif -%}
        </div>
        <div class="voting_buttons_new" data-base-url="/comment/{{ post_reply.id }}">
            {{ render_comment_voting_buttons(post_reply, post_reply.post.community, current_user=current_user, can_upvote_here=can_upvote_here, can_downvote_here=can_downvote_here, communities_banned_from_list=communities_banned_from_list, disable_voting=disable_voting, recently_upvoted_replies=recently_upvoted_replies, recently_downvoted_replies=recently_downvoted_replies, upvoted_class=upvoted_class, downvoted_class=downvoted_class) }}
        </div>
        <div class="emoji_button hide_skinny_mobile">
            {{ render_emoji_button(post_reply, post_reply.post.community, current_user=current_user, can_upvote_here=can_upvote_here, communities_banned_from_list=communities_banned_from_list, disable_voting=disable_voting, recently_upvoted_replies=recently_upvoted_replies) }}
        </div>
        <div class="hide_button">
            {% if collapsed -%}
                <a href='#' class="" title="{{ _('Un-collapse') }}"><span class="fe fe-expand"></span></a>
            {% else -%}
                <a href='#' class="" title="{{ _('Collapse') }}"><span class="fe fe-collapse"></span></a>
            {% endif -%}
        </div>
        <div class="notify_toggle pull-right">
            {% if current_user.is_authenticated and current_user.verified -%}
                {{ render_reply_notification_toggle(dict(comment=post_reply), current_user=current_user) }}
            {% endif -%}
        </div>
        {% if post_reply.community.question_answer and post_reply.depth < 3 -%}
            <div class="choose_answer_icon">
                {% if post_reply.answer -%}
                <a rel="nofollow noindex" title="{{ _('Un-choose answer') }}" href="#"
                   hx-post="{{ url_for('post.post_reply_unchoose_answer', post_reply_id=post_reply.id) }}"
                   hx-trigger="click throttle:1s" hx-target="closest .choose_answer_icon" hx-swap="innerHTML"><span class="fe fe-unanswer"></span></a>
                {% else -%}
                <a rel="nofollow noindex" title="{{ _('Choose answer') }}" href="#"
                   hx-post="{{ url_for('post.post_reply_choose_answer', post_reply_id=post_reply.id) }}"
                   hx-trigger="click throttle:1s" hx-target="closest .choose_answer_icon" hx-swap="innerHTML"><span class="fe fe-answer"></span></a>
                {% endif -%}
            </div>
        {% endif -%}
        {% if can_translate and current_user.is_authenticated and current_user.language_id and post_reply.language_id and (current_user.language_id != post_reply.language_id or post_reply.community.always_translate) -%}
            <div class="post_translate_icon">
                <a rel="nofollow noindex" title="{{ _('Translate') }}" href="#"
                   hx-post="{{ url_for('post.post_reply_translate', post_reply_id=post_reply.id) }}"
                   hx-trigger="click throttle:1s" hx-target="previous .comment_body" hx-swap="innerHTML"><span class="fe fe-translate"></span></a>
            </div>
        {% endif -%}
        <div class="comment_actions_link">
            <div class="dropdown">
                <a
                    href="{{ url_for('post.post_reply_options', post_id=post_reply.post.id, comment_id=post_reply.id) if low_bandwidth else '#' }}"
                    data-bs-toggle="dropdown" rel="nofollow noindex" aria-expanded="false" id="comment_options_link_{{ post_reply.id }}"
                    aria-label="{{ _('Comment options') }}">
                    <span class="fe fe-options" title="Options"> </span>
                </a>
                <ul class="dropdown-menu" style="width: 320px" aria-labelledby="comment_options_link_{{ post_reply.id }}">
                    <div
                        hx-get="{{ url_for('post.post_reply_options', post_id=post_reply.post.id, comment_id=post_reply.id) }}"
                        hx-trigger="intersect once"
                        hx-target="this"
                        hx-swap="outerHTML"
                    ></div>
                </ul>
            </div>
        </div>
    </div>
    {% endif -%}
    <div id="reply_to_{{ post_reply.id }}" class="hidable"></div>
    {% if not post_reply.author.indexable -%}<!--googleon all-->{% endif -%}

    {% if children -%}
        <div class="replies hidable depth_{{ post_reply.depth }}" role="group">
            {% if not THREAD_CUTOFF_DEPTH or post_reply.depth <= THREAD_CUTOFF_DEPTH -%}
                    {% for reply in children -%}
                        {% with post_reply=reply['comment'], children=reply['replies'] %}
                            {% include 'post/_post_reply_teaser.html' %}
                        {% endwith %}
                    {% endfor -%}
            {% else -%}
                <a href="{{ url_for('post.continue_discussion', post_id=post_reply.post.id, comment_id=post_reply.id, _anchor='replies') }}"
                   hx-post="{{ url_for('post.continue_discussion_ajax', post_id=post_reply.post.id, comment_id=post_reply.id, nonce=nonce) }}"
                   hx-target="#comment_{{ post_reply.id }}" hx-swap="outerHTML">{{ _('Continue thread') }}</a>
            {% endif -%}
        </div>
    {% endif -%}

    {% if collapsed -%}
        <script nonce="{{ nonce }}" type="text/javascript">
            if (typeof(toBeHidden) === 'undefined') {
                toBeHidden = Array();
            }
            toBeHidden.push({{ post_reply.id }});
        </script>
    {% endif -%}
</div>
<hr class="visually-hidden">
