{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <div class="col-12 col-md-8 position-relative main_pane">
        {% include 'post/_post_full.html' %}
        <p><a href="{{ url_for('activitypub.post_ap', post_id=post.id, _anchor='replies') }}">Back to main discussion</a></p>
        <div class="row post_replies">
            <div class="col">
                {% macro render_comment(comment) %}
                    <div id="comment_{{ comment['comment'].id }}" class="comment {% if comment['comment'].author.id == post.author.id %}original_poster{% endif %}" role="treeitem">
                        <div class="limit_height">
                            <div class="comment_author">
                                {% with collapsed = comment['comment'].score < -10 -%}
                                    {{ render_username(comment['comment'].author) }}
                                {% endwith -%}
                                {% if comment['comment'].author.id == post.author.id %}<span title="Submitter of original post" aria-label="submitter" class="small">[OP] </span>{% endif %}
                                <span class="text-muted small">{{ arrow.get(comment['comment'].posted_at).humanize(locale=locale) }}{% if comment['comment'].edited_at %}, edited {{ arrow.get(comment['comment'].edited_at).humanize(locale=locale) }} {% endif %}</span>
                                <a class="unhide" href="#"><span class="fe fe-expand"></span></a>
                                {% if comment['comment'].reports and current_user.is_authenticated and post.community.is_moderator(current_user)%}
                                    <span class="red fe fe-report" title="{{ _('Reported. Check comment for issues.') }}"></span>
                                {% endif %}
                            </div>
                            <div class="comment_body hidable {% if comment['comment'].reports and current_user.is_authenticated and post.community.is_moderator(current_user) %}reported{% endif %}">
                                {{ comment['comment'].body_html | safe }}
                            </div>
                        </div>
                        <div class="comment_actions hidable">
                            {% if post.comments_enabled %}
                                <a href="{{ url_for('post.add_reply', post_id=post.id, comment_id=comment['comment'].id) }}" rel="nofollow"><span class="fe fe-reply"></span> reply</a>
                            {% endif %}
                            <div class="voting_buttons_new">
                            {% with comment=comment['comment'] %}
                                {% include "post/_comment_voting_buttons.html" %}
                            {% endwith %}
                            </div>
                            <div class="hide_button">
                                {% if comment['comment'].score <= -10 %}
                                    <a href='#'><span class="fe fe-expand"></span></a>
                                {% else %}
                                    <a href='#'><span class="fe fe-collapse"></span></a>
                                {% endif %}
                            </div>
                            <div class="notify_toggle">
                                {% if current_user.is_authenticated and current_user.verified and current_user.id == comment['comment'].author.id %}
                                    {% include "post/_reply_notification_toggle.html" %}
                                {% endif %}
                            </div>
                            <a href="{{ url_for('post.post_reply_options', post_id=post.id, comment_id=comment['comment'].id) }}" class="comment_actions_link" rel="nofollow"><span class="fe fe-options" title="Options"> </span></a>
                        </div>
                        {% if comment['replies'] %}
                            <div class="replies hidable" role="group">
                                {% for reply in comment['replies'] %}
                                  {{ render_comment(reply) | safe }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endmacro %}
                <div id="replies" class="comments" role="tree">
                    {% for reply in replies %}
                      {{ render_comment(reply) | safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% with community = post.community -%}
        {% include "_side_pane.html" %}
    {% endwith -%}
</div>

{% endblock %}
