{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form -%}
{% from "_macros.html" import render_username -%}
{% block app_content -%}
    <div class="row">
        <h3>{{ _('Voting Activity for "%(reply_text)s"', reply_text=reply_text) }}</h3>
        <p>
            <details open>
                <summary>Upvoters</summary>
                <ul>
                    {% for upvoter in upvoters -%}
                        <li>
                            {{ render_username(upvoter, current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}
                        </li>
                    {% endfor -%}
                </ul>
            </details>
        </p>
        <p>
            <hr>
        </p>
        <details open>
            <summary>Downvoters</summary>
            <ul>
                {% for downvoter in downvoters -%}
                    <li>
                        {{ render_username(downvoter, current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}
                    </li>
                {% endfor -%}
            </ul>
        </details>
    </div>
{% endblock -%}
