{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field %}
{% from "_macros.html" import render_username, render_communityname, render_feedname -%}

{% block app_content %}
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title">{{ _('Move "%(post_title)s"', post_title=post.title) }}</div>
                    <div class="card-body">
                        <form method="post">
                            {{ form.csrf_token() }}
                            {{ render_field(form.which_community) }}
                            <datalist id="community_suggestions"></datalist>
                            {{ render_field(form.submit) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
