{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form -%}
{% from "_macros.html" import render_username -%}

{% block app_content -%}
    <div class="row">
        <h3>{{ _('Voting Activity for "%(post_title)s"', post_title=post_title) }}</h3>
        <p>{{ _('This is sensitive information and should only be used for detecting vote manipulation, brigading and support for harmful content.') }}</p>
        <p>{{ _('Do not share screenshots of this information publicly or use it for personal vendettas.') }}</p>
            <p><details open>
                <summary>{{ _('Upvoters') }}</summary>
                <table cellpadding="2">
                    {% for user, vote in upvoters %}
                        <tr><td>{{ render_username(user, current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}</td>
                            <td>{{ localize_datetime(vote.created_at, locale=locale) }}</td>
                            <td>{{ vote.created_at }}</td>
                        </tr>
                    {% endfor -%}
                </table>
            </details>
            </p><p><hr></p>
            <details open>
                <summary>{{ _('Downvoters') }}</summary>
                <table cellpadding="2">
                    {% for user, vote in downvoters -%}
                        <tr><td>{{ render_username(user, current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}</td>
                             <td>{{ localize_datetime(vote.created_at, locale=locale) }}</td>
                             <td>{{ vote.created_at }}</td>
                        </tr>
                    {% endfor -%}
                </table>
            </details>
    </div>
{% endblock -%}
