{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%} -%}
{% from 'bootstrap/form.html' import render_field -%}

{% block app_content -%}
<script src="/static/js/coolfieldset.js?v=3"></script>
<script type="text/javascript" nonce="{{ session['nonce'] }}">
    var toBeHidden = Array();   // this list of comment IDs will be iterated over in setupHideButtons() and the 'hide' button clicked
</script>
<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        {% include 'post/_post_full.html' -%}
        {% if post.comments_enabled -%}
            {% if current_user.is_authenticated -%}
                {% if current_user.verified -%}
                    <div class="row post_reply_form">
                        <hr class="mt-1" />
                        <div class="col">
                            <div class="reply_form_inner position-relative">
                                {% if post.community.ap_id and '@beehaw.org' in post.community.ap_id -%}
                                    <p>{{ _('This post is hosted on beehaw.org which has <a href="https://docs.beehaw.org/docs/core-principles/what-is-beehaw/" target="_blank" rel="nofollow">higher standards of behaviour than most places. Be nice</a>.') }}</p>
                                {% endif -%}
                                {% if post.community.posting_warning -%}
                                    <p align="center">{{ post.community.posting_warning|safe }}</p>
                                {% endif -%}
                                <form method="post" role="form">
                                    {{ form.csrf_token() }}
                                    {{ render_field(form.body) }}
                                    <fieldset id="post_reply_more_options" class="mt-2 coolfieldset {{ 'collapsed' if request.cookies.get('fieldset_post_reply_more_options_state', 'collapsed') == 'collapsed' }}">
                                        <legend>{{ _('More options') }}</legend>
                                        {{ render_field(form.notify_author) }}
                                        {{ render_field(form.distinguished) }}
                                        {{ render_field(form.language_id) }}
                                    </fieldset>
                                    {{ render_field(form.submit) }}
                                </form>
                                {% if not low_bandwidth -%}
                                    {% if markdown_editor -%}
                                        <script nonce="{{ session['nonce'] }}">
                                            window.addEventListener("load", function () {
                                                var downarea = new DownArea({
                                                    elem: document.querySelector('#body'),
                                                    resize: DownArea.RESIZE_VERTICAL,
                                                    hide: ['heading', 'bold-italic'],
                                                    value: document.getElementById("body").value
                                                });
                                                setupAutoResize('body');
                                            });
                                        </script>
                                    {% else -%}
                                        <!-- <a href="#" aria-hidden="true" id="post_reply_markdown_editor_enabler" class="markdown_editor_enabler" data-id="body">{{ _('Enable markdown editor') }}</a> -->
                                    {% endif -%}
                                {% endif -%}
                            </div>
                        </div>
                        {% if replies -%}
                        <hr class="mt-4" />
                        {% endif -%}
                    </div>
                {% else -%}
                    <p><a href="{{ url_for('auth.validation_required') }}">{{ _('Verify your email address to comment') }}</a></p>
                {% endif -%}
            {% else -%}
                <p><a href="{{ url_for('auth.login', next='/post/' + str(post.id)) }}">{{ _('Log in to comment') }}</a></p>
            {% endif -%}
        {% else -%}
            <p>{{ _('Comments are disabled.') }}</p>
        {% endif -%}
        {% if replies or more_replies -%}
        <h2 class="visually-hidden">{{ post.reply_count }} {{ _('Comments') }}</h2>
        <div id="post_replies" class="row">
            <div class="col">
                <div class="btn-group mt-1 mb-2">
                    <a href="?sort=hot#post_replies" title="{{ _('Sort by magic') }}" class="btn btn-sm {{ 'btn-primary' if request.args.get('sort', '') == '' or request.args.get('sort', '') == 'hot' else 'btn-outline-secondary' }}" rel="nofollow noindex">
                        {{ _('Hot') }}
                    </a>
                    <a href="?sort=top#post_replies" title="{{ _('Comments with the most upvotes') }}" class="btn  btn-sm {{ 'btn-primary' if request.args.get('sort', '') == 'top' else 'btn-outline-secondary' }}" rel="nofollow noindex">
                        {{ _('Top') }}
                    </a>
                    <a href="?sort=new#post_replies" title="{{ _('Show newest first') }}" class="btn  btn-sm {{ 'btn-primary' if request.args.get('sort', '') == 'new' else 'btn-outline-secondary' }}" rel="nofollow noindex">
                        {{ _('New') }}
                    </a>
                </div>

                <div id="replies" class="comments" role="tree" aria-label="{{ _('Comments') }}" aria-expanded="true">
                    {% for reply in replies -%}
                      {% with post_reply=reply['comment'], children=reply['replies'] %}
                          {% include 'post/_post_reply_teaser.html' %}
                      {% endwith %}
                    {% endfor -%}
                </div>

                {% if more_replies -%}
                <h2 class="visually-hidden">{{ _('Comments from other communities') }}</h2>
                <div id="more_replies" class="comments" role="tree" aria-label="{{ _('Comments') }}" aria-expanded="true">
                    {% for community, replies in more_replies.items() -%}
                        <div class="row mt-4">
                            <div class="col-10">
                                <h4 class="mt-1"><a href="/post/{{ replies[0]['comment'].post_id }}#post_replies">{{ _('Comments in %(name)s', name=community.display_name()) }}</a></h4>
                            </div>
                            <div class="col-2" style="text-align: right; padding-right: 20px;">
                                {% if current_user.is_authenticated -%}
                                <div class="community_actions_link">
                                    <div class="dropdown">
                                        <a
                                            href="{{ url_for('post.post_reply_options', post_id=1, comment_id=1) if low_bandwidth else '#' }}"
                                            data-bs-toggle="dropdown" rel="nofollow noindex"
                                            aria-label="{{ _('Community options') }}">
                                            <span class="fe fe-options" title="Options"> </span>
                                        </a>
                                        <ul class="dropdown-menu" style="width: 320px">
                                            {% if community_membership(current_user, community) not in [SUBSCRIPTION_PENDING, SUBSCRIPTION_MEMBER, SUBSCRIPTION_MODERATOR, SUBSCRIPTION_OWNER] -%}
                                                 <li><a href="{{ url_for('community.subscribe', actor=community.link()) }}" class="dropdown-item no-underline white-space-normal" rel="nofollow">
                                                     <span class="fe fe-plus"></span> {{ _('Join') }}</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif -%}
                                            <li><a href="{{ url_for('community.community_block', community_id=community.id) }}" class="dropdown-item no-underline white-space-normal" rel="nofollow">
                                                <span class="fe fe-delete"></span> {{ _('Block community %(community_name)s', community_name=community.display_name()) }}</a></li>
                                        </ul>
                                    </div>

                                </div>
                                {% endif -%}
                            </div>
                        </div>

                        {% for reply in replies -%}
                          {% with post_reply=reply['comment'], children=reply['replies'] %}
                              {% include 'post/_post_reply_teaser.html' %}
                          {% endwith %}
                        {% endfor -%}
                    {% endfor -%}
                </div>
                {% endif -%}
            </div>
        </div>
        {% endif -%}
    </main>

    {% with community = post.community -%}
        {% include "_side_pane.html" %}
    {% endwith -%}
</div>
<script nonce="{{ session['nonce'] }}">
    window.addEventListener("load", function () {
        currentPost = document.querySelector('.post_col');  // set the current post, so A and Z voting keys work when viewing a post page
    });
</script>
{% endblock -%}
