{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field %}
{% from "_macros.html" import render_username, render_communityname, render_feedname -%}

{% block app_content %}
<script src="/static/js/coolfieldset.js?v=3" nonce={{ nonce }}></script>
<div class="row">
    <main class="col-12 col-lg-8 position-relative add_reply main_pane">
        <fieldset id="post_reply_op" class="coolfieldset  {{ 'collapsed' if request.cookies.get('fieldset_post_reply_op_state', 'collapsed') == 'collapsed' }} mt-3"><legend class="w-auto">Original post</legend>
            <h3>{{ post.title }}</h3>
            {{ post.body_html|safe if post.body_html }}
        </fieldset>
        {% if comment %}
            <fieldset id="post_reply_comment" class="coolfieldset {{ 'collapsed' if request.cookies.get('fieldset_post_reply_comment_state', 'collapsed') == 'collapsed' }} mt-4 mb-4"><legend class="w-auto">Comment you are replying to</legend>
                {{ comment.body_html|safe }}
            </fieldset>
        {% endif %}
        <div class="position-relative">
            <form method="post" role="form">
                {{ form.csrf_token() }}
                {{ render_field(form.body) }}
                <fieldset id="post_reply_more_options" class="mt-2 coolfieldset {{ 'collapsed' if request.cookies.get('fieldset_post_reply_more_options_state', 'collapsed') == 'collapsed' }}">
                    <legend>{{ _('More options') }}</legend>
                    {{ render_field(form.notify_author) }}
                    {{ render_field(form.distinguished) }}
                    {{ render_field(form.language_id) }}
                </fieldset>
                {{ render_field(form.submit) }}
            </form>

            {% if markdown_editor %}
                <script nonce="{{ nonce }}">
                    window.addEventListener("load", function () {
                        var downarea = new DownArea({
                            elem: document.querySelector('#body'),
                            resize: DownArea.RESIZE_VERTICAL,
                            hide: ['heading', 'bold-italic'],
                            value: document.getElementById("body").value
                        });
                        setupAutoResize('body');
                    });
                </script>
            {% endif %}
        </div>
    </main>
    {% with community = post.community -%}
        {% include "_side_pane.html" %}
    {% endwith -%}
</div>

{% endblock %}
