{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_field %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'settings' %}

{% block app_content %}

<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        <nav class="mb-2" aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/u/{{ user.link() }}">{{ user.display_name() }}</a></li>
            <li class="breadcrumb-item active">{{ _('Change settings') }}</li>
          </ol>
        </nav>
        <h1>{{ _('Change settings') }}</h1>
        {% include "user/_user_nav.html" %}
        <form method='post' enctype="multipart/form-data" role="form">
            {{ form.csrf_token() }}
            <h5>{{ _('Mail Settings') }}</h5>
            {{ render_field(form.newsletter) }}
            {{ render_field(form.email_unread) }}
            <hr>
            <h5>{{ _('Visibility') }}</h5>
            {{ render_field(form.searchable) }}
            {{ render_field(form.indexable) }}
            {{ render_field(form.hide_read_posts) }}
            <hr>
            <h5>{{ _('User interface') }}</h5>
            {{ render_field(form.interface_language) }}
            <small class="field_hint">{{ _('This is used for menus and labels in the user interface') }}</small>
            {{ render_field(form.markdown_editor) }}
            {{ render_field(form.theme) }}
            {{ render_field(form.compaction) }}
            {{ render_field(form.font) }}
            <table style="width: 100%; max-width: 400px;">
                <tr>
                    <td><a href="#" id="increase_font_size">{{ _('Increase font size') }}</a></td>
                    <td align="right"><a href="#" id="decrease_font_size">{{ _('Decrease font size') }}</a></td>
                </tr>
            </table>
            <hr>
            <h5>{{ _('Preferences') }}</h5>
            {{ render_field(form.read_languages) }}
            <small class="field_hint">{{ _('Only posts and replies in these selected languages will be visible. Choose none to allow all.') }}</small>
            {{ render_field(form.accept_private_messages) }}
            {{ render_field(form.default_sort) }}
            {{ render_field(form.default_filter) }}
            {{ render_field(form.vote_privately) }}
            <small class="field_hint">{{ _('Votes will be sent to <a href="/instances?filter=trusted">untrusted instances</a> using an alt') }}</small>
            <hr>
            <h5>{{ _('Feeds') }}</h5>
            {{ render_field(form.feed_auto_follow) }}
            {{ render_field(form.feed_auto_leave) }}
            <small class="field_hint">{{ _('Communities joined outside of a feed will not be auto unsubscribed.') }}</small>
            <br>
            {{ render_field(form.submit) }}
        </form>
        <!-- <p class="mt-4 pt-4">
            <a class="btn btn-warning" href="{{ url_for('user.delete_account') }}">{{ _('Delete account') }}</a>
        </p> -->
        <hr class="bg-danger border-4 border-top border-danger" />
        <div class="accordion" id="deleteAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button bg-danger text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">
                Danger Zone! - Account Deletion
              </button>
            </h2>
            <div id="collapseDelete" class="accordion-collapse collapse bg-danger text-light" data-bs-parent="#deleteAccordion">
              <div class="accordion-body">
                <form action="/delete_account" method="post" role="form">
                  <p>{{ _('You are about to permanently delete the account with the username "<strong>%(username)s</strong>." This means your profile will disappear, pictures will be deleted. Text-based posts will stay but look like they are from someone named "deleted."', username=user.user_name) }}</p>
                  <p>{{ _('Once you hit delete, nobody can use "%(username)s" as a username again. We are doing this so nobody pretends to be you.', username=user.user_name) }}</p>
                  <p>{{ _("We will tell other websites (fediverse instances) that your account is gone. But it's up to them to decide what to do with any copies they have of your stuff. Some websites work differently than ours.") }}</p>
                  <p>{{ _("Remember, once you do this, there's no going back. Are you sure you want to continue?") }}</p>
                  {{ render_form(delete_form) }}
                </form>
              </div>
            </div>
          </div>
        </div>
  </main>
</div>
{% endblock %}
