{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field %}
{% set active_child = "filters" %}
{% block app_content %}
    <div class="row">
        <main class="col-12 col-lg-8 position-relative main_pane">
            <nav class="mb-2"
                 aria-label="breadcrumb"
                 id="breadcrumb_nav"
                 title="Navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">{{ _("Home") }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/u/{{ user.link() }}">{{ user.display_name() }}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ _("Filters") }}</li>
                </ol>
            </nav>
            <h1>{{ _("Filters") }}</h1>
            {% include "user/_user_nav.html" %}
            <form method='post' enctype="multipart/form-data" role="form">
                {{ form.csrf_token() }}
                <h5>Visibility</h5>
                {{ render_field(form.ignore_bots) }}
                {{ render_field(form.hide_nsfw) }}
                {{ render_field(form.hide_nsfl) }}
                {{ render_field(form.reply_collapse_threshold) }}
                <small class="field_hint">{{ _("Collapse replies with a score at or below this level - click to view.") }}</small>
                {{ render_field(form.reply_hide_threshold) }}
                <small class="field_hint">{{ _("Hide replies with a score at or below this level.") }}</small>
                {{ render_field(form.hide_low_quality) }}
                {{ render_field(form.community_keyword_filter) }}
                <small class="field_hint">{{ _("Use a comma between each word.") }}</small>
                {{ render_field(form.submit) }}
            </form>
            <hr />
            <h5>Keyword Filters</h5>
            <div class="rh_action_buttons">
                <a class="btn btn-primary"
                   href="{{ url_for('user.user_settings_filters_add') }}">{{ _("Add filter") }}</a>
            </div>
            <p class="card-text">
                {{ _("Filters can hide posts that contain keywords you specify, either by making them less noticeable or invisible.") }}
            </p>
            {% if filters %}
                <table class="table table-striped" role="table">
                    <tr>
                        <th>{{ _("Name") }}</th>
                        <th>{{ _("Keywords") }}</th>
                        <th>{{ _("Action") }}</th>
                        <th>{{ _("Expires") }}</th>
                        <th></th>
                    </tr>
                    {% for filter in filters %}
                        <tr>
                            <td>{{ filter.title }}</td>
                            <td>{{ filter.keywords_string() |shorten(30) }}</td>
                            <td>{{ _("Invisible") if filter.hide_type == 1 else _('Semi-transparent') }}</td>
                            <td>{{ filter.expire_after if filter.expire_after }}</td>
                            <td>
                                <a href="{{ url_for('user.user_settings_filters_edit', filter_id=filter.id) }}">Edit</a> |
                                <a href='#'
                                   data-url="{{ url_for('user.user_settings_filters_delete', filter_id=filter.id) }}"
                                   class="confirm_first send_post">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{{ _("No filters defined yet.") }}</p>
            {% endif %}
            <h5>Blocks</h5>
            <p class="card-text">
                {{ _("Manage which users, communities, domains or instances you want to block. Blocking them means you will no longer see any posts associated with them.") }}
            </p>
            <p class="card-text">
                {{ _("Add new blocks when you see content you don't like - click the 3 dot menu on the post or comment to see blocking options.") }}
            </p>
            <nav id="block_chooser">
                <div class="nav nav-tabs nav-justified" id="typeTab" role="tablist">
                    <button class="nav-link active"
                            id="discussion-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#people-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="discussion-tab-pane"
                            aria-selected="true">{{ _("People") }}</button>
                    <button class="nav-link"
                            id="link-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#communities-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="link-tab-pane"
                            aria-selected="false">{{ _("Communities") }}</button>
                    <button class="nav-link"
                            id="image-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#domains-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="image-tab-pane"
                            aria-selected="false">{{ _("Domains") }}</button>
                    <button class="nav-link"
                            id="poll-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#instances-tab-pane"
                            type="button"
                            role="tab"
                            aria-controls="poll-tab-pane"
                            aria-selected="false">{{ _("Instances") }}</button>
                </div>
            </nav>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active"
                     id="people-tab-pane"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    {% if blocked_users %}
                        <table class="table table-responsive">
                            <tr>
                                <th>{{ _("Name") }}</th>
                                <th>{{ _("Unblock") }}</th>
                            </tr>
                            {% for user in blocked_users %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('activitypub.user_profile', actor=user.ap_id if user.ap_id is not none else user.user_name) }}">{{ user.display_name() }}</a>
                                    </td>
                                    <td>
                                        <a class="no-underline confirm_first send_post"
                                           role="button"
                                           aria-label="{{ _('Unblock @%(user_name)s', user_name=user.display_name) }}"
                                           hx-post="/u/{{ user.user_name if user.is_local() else user.ap_id }}/unblock"
                                           hx-trigger="click throttle:1s"><span class="fe fe-delete"></span> {{ _('Unblock %(user_name)s', user_name=user.display_name() ) }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{{ _("No blocked people") }}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade show"
                     id="communities-tab-pane"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    {% if blocked_communities %}
                        <table class="table table-responsive">
                            <tr>
                                <th>{{ _("Name") }}</th>
                                <th>{{ _("Unblock") }}</th>
                            </tr>
                            {% for community in blocked_communities %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('activitypub.community_profile', actor=community.ap_id if community.ap_id is not none else community.name) }}">{{ community.title }}</a>
                                    </td>
                                    <td>
                                        <a class="no-underline confirm_first"
                                           role="button"
                                           aria-label="{{ _('Unblock %(community_title)s', community_title=community.title) }}"
                                           hx-post="/user/community/{{ community.id }}/unblock"
                                           hx-trigger="click throttle:1s"><span class="fe fe-delete"></span> {{ _('Unblock %(community_title)s', community_title=community.title) }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{{ _("No blocked communities") }}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade show"
                     id="domains-tab-pane"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    {% if blocked_domains %}
                        <table class="table table-responsive">
                            <tr>
                                <th>{{ _("Name") }}</th>
                                <th>{{ _("Unblock") }}</th>
                            </tr>
                            {% for domain in blocked_domains %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('domain.show_domain', domain_id=domain.id) }}">{{ domain.name }}</a>
                                    </td>
                                    <td>
                                        <a class="no-underline confirm_first"
                                           role="button"
                                           aria-label="{{ _('Unblock') }}"
                                           hx-post="/d/{{ domain.id }}/unblock"
                                           hx-trigger="click throttle:1s"
                                           tabindex="0"><span class="fe fe-delete"></span> {{ _("Unblock") }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{{ _("No blocked domains") }}</p>
                    {% endif %}
                </div>
                <div class="tab-pane fade show"
                     id="instances-tab-pane"
                     role="tabpanel"
                     aria-labelledby="home-tab"
                     tabindex="0">
                    {% if blocked_instances %}
                        <table class="table table-responsive">
                            <tr>
                                <th>{{ _("Name") }}</th>
                                <th>{{ _("Unblock") }}</th>
                            </tr>
                            {% for instance in blocked_instances %}
                                <tr>
                                    <td>
                                        <a href="https://{{ instance.domain }}">{{ instance.domain }}</a>
                                    </td>
                                    <td>
                                        <a class="no-underline confirm_first"
                                           role="button"
                                           aria-label="{{ _('Unblock') }}"
                                           hx-post="/instance/{{ instance.id }}/unblock"
                                           hx-trigger="click throttle:1s"
                                           tabindex="0"><span class="fe fe-delete"></span> {{ _("Unblock") }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{{ _("No blocked instances") }}</p>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
