<div class="post_list">
    <h2>{{ _("You will be notified of new posts in communities covered by these feeds") }}</h2>
    {% for feed in entities.items -%}
        <div class="h-entry post_teaser tabindex="0">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('activitypub.feed_profile', actor=feed.ap_id if feed.ap_id is not none else feed.name) }}"
                       aria-label="{{ _('Visit Feed') }}">{{ feed.title }}</a>
                </div>
                <div class="col col-1">{% include 'feed/_notification_toggle.html' -%}</div>
            </div>
        </div>
    {% else -%}
        <p>{{ _("You have not subscribed to any feeds. Use the bell icon on each feed to do so.") }}</p>
    {% endfor -%}
</div>
