{% include 'user/alerts/_filter.html' %}
<div class="post_list">
  <h2>{{ _('You will be notified of top-level replies to these posts') }}</h2>
  {% for post in entities.items %}
    <div class="h-entry post_teaser tabindex="0">
      <div class="row">
        <div class="col">
          <a href="{{ post.slug if post.slug else url_for('activitypub.post_ap', post_id=post.id) }}" aria-label="{{ _('Read post') }}">{{ post.title }}</a>
        </div>
        <div class="col col-1">
          {% include 'post/_post_notification_toggle.html' %}         
        </div>
      </div>
    </div>
  {% else %}
    <p>{{ _('You have not subscribed to any posts. Use the bell icon on each post to do so.') }}</p>
  {% endfor %}
</div>

