{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% set active_child = 'admin_activities' %}

{% block app_content %}
<div class="row">
    <div class="col">
        <h1>
            {{ _('Activity JSON') }}
        </h1>
        <hr />
        {{ json_html | safe }}
        {% if current_app.debug %}
            <p>
                <a class="btn btn-warning" href="{{ url_for('admin.activity_replay', activity_id=activity.id) }}">
                    {{ _('Re-submit this activity') }}
                </a>
            </p>
        {% endif %}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}
