{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'admin_content_deleted' %}

{% block app_content %}
<div class="row">
    <div class="col">
        <h1>{{ _('Deleted posts') }}</h1>
        <div class="post_list">
            {% for post in posts.items %}
                {% include 'post/_post_teaser.html' %}
            {% else %}
                <p>{{ _('No deleted posts.') }}</p>
            {% endfor %}
        </div>
        {% if post_replies %}
            <h2 class="mt-4" id="comments">Deleted comments</h2>
            <div class="post_list">
                {% for post_reply in post_replies.items %}
                    {% with teaser=True, disable_voting=True, no_collapse=True %}
                        {% include 'post/_post_reply_teaser.html' %}
                    {% endwith %}
                    <hr />
                {% else %}
                    <p>{{ _('No deleted comments.') }}</p>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ _('No comments yet.') }}</p>
        {% endif %}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}
