{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% set active_child = 'admin_federation' %}

{% block app_content %}

<div class="row">
    <div class="col">
        <h1>{{ _('Federation') }}</h1>
        {{ render_form(form) }}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <p>Import / Export Bans</p>
        <p>JSON format:</p>
        <pre><code>
            {
                "banned_instances": ["banned1.social", "banned2.social"], 
                "banned_domains": ["banned3.social"], 
                "banned_tags": ["badtag"], 
                "banned_users": ["baduser@banned4.social"] 
            }</code>
        </pre>
        {{ render_field(ban_lists_form.import_submit) }}
        {{ render_field(ban_lists_form.export_submit) }}
    </div>
</div>
<hr />
<div class="row">
    <div class="column">
        <p>Use this to "pre-load" known threadiverse communities, as ranked by posts and activity. The list of communities pulls from the same list as <a href="https://lemmyverse.net/communities">LemmyVerse</a>. NSFW communities and communities from banned instances are excluded.</p>
        {% if current_app_debug %}
        <p>*** This instance is in development mode. Loading more than 6 communities here could cause timeouts, depending on how your networking is setup. ***</p>
        {% endif %}
        {{ render_form(preload_form) }}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}