{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% set active_child = 'admin_federation' %}

{% block app_content %}
{% include 'admin/_tabbed_nav.html' %}
<br>

<div class="row">
    <div class="col">
        <h1>{{ _('Federation') }}</h1>
        {{ render_form(form) }}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <h4>{{ _('Import / Export Bans') }}</h4>
        <p>Moved to <a href="{{ url_for('admin.admin_federation_ban_lists') }}">{{ _('Import / Export Bans') }}</a></p>
    </div>
</div>
<hr />
<fieldset class="coolfieldset border mt-4 p-2 pb-3 mb-4">
    <legend class="tweak-top">{{ _('Bulk community import') }}</legend>
        <div class="row">
            <div class="column">
                <p><a href="{{ url_for('admin.admin_federation_remote_scan') }}">{{ _('Remote server scan') }}</a></p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="column">
                <p><a href="{{ url_for('admin.admin_federation_preload') }}">{{ _('Load communities from Lemmyverse data') }}</a></p>
            </div>
        </div>
</fieldset>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}
