{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field %}
{% set active_child = 'admin_instance_chooser' %}

{% block app_content %}
{% include 'admin/_tabbed_nav.html' %}
<br>
<div class="row">
    <div class="col">
        <h1>{{ _('Instance chooser settings') }}</h1>
        <p>{{ _('During registration, new people are shown a list of instances to join. To include your instance in that list, fill out this form.') }}</p>
        <form method="post">
            {{ form.csrf_token() }}
            {{ render_field(form.enable_instance_chooser) }}
            {{ render_field(form.elevator_pitch) }}

            <h3>{{ _('Instance strength / maturity') }}</h3>

            {{ render_field(form.number_of_admins) }}
            {{ render_field(form.financial_stability) }}
            {{ render_field(form.daily_backups) }}

            {{ render_field(form.submit) }}
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}