{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_field, render_form %}
{% set active_child = 'admin_misc' %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='js/tomselect/tom-select.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block app_content %}
<script src="/static/js/tomselect/tom-select.complete.min.js"></script>
{% include 'admin/_tabbed_nav.html' %}
<br>
<div class="row">
    <div class="col">
        <h1>{{ _('Misc settings') }}</h1>
        <form method="post">
            {{ form.csrf_token() }}
            <h3>{{ _('Content settings') }}</h3>
            {{ render_field(form.default_theme) }}
            {{ render_field(form.additional_css) }}
            <p class="small field_hint">{{ _('CSS in this field will be added to every page.') }}</p>
            {{ render_field(form.additional_js) }}
            <p class="small field_hint">{{ _('JavaScript in this field will be added to every page. Do not include &lt;script&gt; tags.') }}</p>
            {{ render_field(form.default_filter) }}
            {{ render_field(form.enable_downvotes) }}
            {{ render_field(form.enable_gif_reply_rep_decrease) }}
            {{ render_field(form.enable_chan_image_filter) }}
            {{ render_field(form.enable_this_comment_filter) }}
            {{ render_field(form.meme_comms_low_quality) }}
            {{ render_field(form.allow_local_image_posts) }}
            {{ render_field(form.enable_nsfw) }}
            {{ render_field(form.enable_nsfl) }}
            {{ render_field(form.nsfw_country_restriction) }}
            <p class="small field_hint">{{ _('Use 2-letter country codes, one per line, e.g. GB. Probably not necessary if NSFW communities is off.') }}</p>
            {{ render_field(form.community_creation_admin_only) }}
            {{ render_field(form.allow_default_user_add_remote_community) }}
            {{ render_field(form.reports_email_admins) }}
            <div id="tom_select">
                {{ render_field(form.language_id) }}
            </div>
            <hr>
            <h3>{{ _('Registration') }}</h3>
            {{ render_field(form.registration_mode) }}
            {{ render_field(form.application_question) }}
            <p class="small field_hint">{{ _('You can use markdown here.') }}</p>
            {{ render_field(form.email_verification) }}
            {{ render_field(form.captcha_enabled) }}
            {{ render_field(form.choose_topics) }}
            {{ render_field(form.filter_selection) }}
            {{ render_field(form.auto_decline_countries) }}
            <p class="small field_hint">{{ _('Use 2-letter country codes, one per line. Requires IPinfo API or a Country information header set.') }}</p>
            {{ render_field(form.auto_decline_referrers) }}
            {{ render_field(form.ban_check_servers) }}
            <p class="small field_hint">{{ _('PieFed instances only. One per line, no https:// on the front.') }}</p>
            {{ render_field(form.registration_approved_email) }}
            <p class="small field_hint">{{ _('This will be sent after their application is approved. Use markdown.') }}</p>
            <hr>
            {{ render_field(form.log_activitypub_json) }}
            {{ render_field(form.public_modlog) }}
            {{ render_field(form.private_instance) }}
            {{ render_field(form.show_inoculation_block) }}

            {{ render_field(form.submit) }}
        </form>
        {% if current_user.id == 1 %}
        <hr class="bg-danger border-4 border-top border-danger" />
        <div class="accordion" id="deleteAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button bg-danger text-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">
                {{ _('Danger Zone! - Instance Deletion') }}
              </button>
            </h2>
            <div id="collapseDelete" class="accordion-collapse collapse bg-danger text-light" data-bs-parent="#deleteAccordion">
              <div class="accordion-body">
                <form method="post" role="form">
                  <p>{{ _('You are about to close the instance "<strong>%(domain)s</strong>."', domain=instance_domain) }}</p>
                  <p>{{ _('Once you hit close all other instances will stop sending content to here, new user registration will be closed and an announcement added to the home page.') }}</p>
                  <p>{{ _('This action should be taken a few days before going offline and only after plenty of earlier warning, so communities have time to move, etc.') }}</p>
                    <p>{{ _("Remember, once you do this, there's no going back. Are you sure you want to continue?") }}</p>
                  {{ render_form(close_form) }}
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif -%}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}
