{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% set active_child = "admin_permissions" %}
{% block app_content %}
    {% include 'admin/_tabbed_nav.html' %}
    <br>
    <div class="row">
        <div class="col">
            <h1>{{ _("Permissions") }}</h1>
            <form method="post">
                {{ form_csrf_token }}
                <table class="table table-striped" style="max-width: 500px;">
                    <tr>
                        <th></th>
                        <th class="text-center">{{ _("Staff") }}</th>
                        <th class="text-center">{{ _("Admin") }}</th>
                        <th class="text-center">{{ _("User ID #1") }}</th>
                    </tr>
                    {% for permission in permissions -%}
                        <tr>
                            <th>{{ permission[0] }}</th>
                            <td class="text-center">
                                <input type="checkbox" name="role_3_{{ permission[0] }}" {{ 'checked' if role_access(permission[0], 3) else '' }}>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="role_4_{{ permission[0] }}" {{ 'checked' if role_access(permission[0], 4) else '' }}>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" name="user_1" checked disabled>
                            </td>
                        </tr>
                    {% endfor -%}
                </table>
                {{ form.csrf_token() }}
                <input type="submit" class="btn btn-primary" value="{{ _('Save') }}">
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">{% include 'admin/_nav.html' %}</div>
    </div>
    <hr />
{% endblock %}
