{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'admin_users_trash' %}

{% block app_content %}
<div class="row">
    <div class="col">
        <h1>{{ _('Users') }}</h1>
        <a class="btn btn-primary" href="{{ url_for('admin.admin_users_add') }}" style="float: right;">{{ _('Add local user') }}</a>
        <form method="get">
            <input type="search" name="search" value="{{ search }}">
            <input type="radio" name="local_remote" value="local" id="local_remote_local" {{ 'checked' if local_remote == 'local' }}><label for="local_remote_local"> Local</label>
            <input type="radio" name="local_remote" value="remote" id="local_remote_remote" {{ 'checked' if local_remote == 'remote' }}><label for="local_remote_remote"> Remote</label>
            <input type="radio" name="type" value="bad_rep" id="type_bad_rep" {{ 'checked' if type == 'bad_rep' }}><label for="type_bad_rep"> Bad rep</label>
            <input type="radio" name="type" value="bad_attitude" id="type_bad_attitude" {{ 'checked' if type == 'bad_attitude' }}><label for="type_bad_attitude"> Bad attitude</label>
            <input type="submit" name="submit" value="Search" class="btn btn-primary">
        </form>
        <table class="table table-striped mt-1">
            <tr>
               <th>Name</th>
               <th>Seen</th>
               <th>Attitude</th>
               <th>Rep</th>
               <th>Banned</th>
               <th>Reports</th>
               <th>IP</th>
               <th>Source</th>
               <th>Actions</th>
            </tr>
            {% for user in users.items %}
                <tr>
                    <td>{{ render_username(user, add_domain=False) }}<br />
                    <a href="/u/{{ user.link() }}">{{ user.user_name }}</a>{% if not user.is_local() %}<wbr />@<a href="{{ user.ap_profile_id }}">{{ user.ap_domain }}</a>{% endif %}</td>
                    <td>{% if request.args.get('local_remote', '') == 'local' %}
                            {{ arrow.get(user.last_seen).humanize(locale=locale) }}
                        {% else %}
                            {{ user.last_seen }}
                        {% endif %}
                    </td>
                    <td>{% if user.attitude != 1 %}{{ (user.attitude * 100) | round | int }}%{% endif %}</td>
                    <td>{% if user.reputation %}R {{ user.reputation | round | int }}{% endif %}</td>
                    <td>{{ '<span class="red">Banned</span>'|safe if user.banned }} </td>
                    <td>{{ user.reports if user.reports > 0 }} </td>
                    <td>{{ user.ip_address if user.ip_address }} </td>
                    <td>{{ user.referrer if user.referrer }} </td>
                    <td><a href="{{ url_for('admin.admin_user_edit', user_id=user.id) }}">Edit</a> |
                        <a href="{{ url_for('admin.admin_user_delete', user_id=user.id) }}" class="confirm_first">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary">
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary">
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}