<div class="col post_teaser_body">
    {% include "post/post_teaser/_title.html" %}
    {% if not low_bandwidth %}
        <div class="post_teaser_video_preview">
            <div class="max_width_512">
                {% if post.url.endswith('.mp4') or post.url.endswith('.webm') -%}
                    <p>
                        <video class="responsive-video" controls preload="{{ 'none' if low_bandwidth else 'auto' }}" {{ 'autoplay muted' if autoplay }} {{ 'loop' if post.community.loop_videos() }}>
                        {% if post.url.endswith('.mp4') -%}
                            <source src="{{ post.url }}" type="video/mp4" />
                        {% elif post.url.endswith('.webm') -%}
                            <source src="{{ post.url }}" type="video/webm" />
                        {% endif -%}
                        </video></p>
                {% elif post.url.startswith('https://vimeo.com') -%}
                    <div style="padding-bottom: 56.25%; position: relative;"><iframe loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="{{ post.url.replace('vimeo.com/', 'player.vimeo.com/video/') }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  width="100%" height="100%" frameborder="0"></iframe></div>
                {% elif post.url.startswith('https://streamable.com') -%}
                    <div style="padding-bottom: 56.25%; position: relative;"><iframe loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="{{ post.url.replace('streamable.com/', 'streamable.com/e/') }}?loop=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  width="100%" height="100%" frameborder="0"></iframe></div>
                {% elif post.url.startswith('https://www.redgifs.com/watch/') -%}
                    <div style="padding-bottom: 56.25%; position: relative;"><iframe loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="{{ post.url.replace('redgifs.com/watch/', 'redgifs.com/ifr/') }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  width="100%" height="100%" frameborder="0"></iframe></div>
                {% endif -%}
                {% if 'youtube.com' in post.url -%}
                <div style="padding-bottom: 56.25%; position: relative;"><iframe style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="https://www.youtube-nocookie.com/embed/{{ post.youtube_video_id() }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen" width="100%" height="100%" frameborder="0"></iframe></div>
                {% endif -%}
                {% if 'videos/watch' in post.url -%}
                    <div style="padding-bottom: 56.25%; position: relative;"><iframe loading="lazy" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" src="{{ post.peertube_embed() }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  width="100%" height="100%" frameborder="0"></iframe></div>
                {% endif -%}
            </div>
        </div>
    {% endif -%}
    {% include "post/post_teaser/_utilities_bar.html" %}
</div>
