<tr>
    <td width="*">
        {% if notification.subtype == "post_reported" %}
            <h4>{{ _('Post Reported') }}</h4>
            <p>
                <div class="overflow-ellipses-parent">
                    <div class="child">
                        <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                            class="{% if not notification.read %}unread{% endif %}">{{ notification.targets.orig_post_title }}</a>
                    </div>
                </div>
            </p>
            <br>
            <fieldset class="coolfieldset collapsed">
                <legend class="w-100">{{ _('Post details') }}</legend>
                <p>
                {{ notification.targets.orig_post_body }}
                </p>
                <p>{{ _('Author') }}: <a href="/u/{{ notification.targets.suspect_user_user_name }}">{{ notification.targets.suspect_user_user_name }}</a></p>
            </fieldset>
        {% elif notification.subtype == "user_reported" %}
            <h4>{{ _('User Reported') }}</h4>
            <p>
                <div class="overflow-ellipses-parent">
                    <div class="child">
                        {{ _('Username') }}: <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                            class="{% if not notification.read %}unread{% endif %}">{{ notification.targets.suspect_user_user_name }}</a>
                    </div>
                </div>
            </p>
            {% if notification.targets.reasons %}
                <p>{{ _('Reasons') }}:
                {{ notification.targets.reasons }}
                </p>
            {% endif %}
            {% if notification.targets.description %}
                <p>{{ _('Description') }}:
                {{ notification.targets.description }}
                </p>
            {% endif %}
        {% elif notification.subtype == "comment_reported" %}
            <h4>{{ _('Comment Reported') }}</h4>
            <p>
                <div class="overflow-ellipses-parent">
                    <div class="child">
                        <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                            class="{% if not notification.read %}unread{% endif %}">{{ notification.targets.orig_comment_body | shorten }}</a>
                    </div>
                </div>
            </p>
            <br>
            <fieldset class="coolfieldset collapsed">
                <legend class="w-100">{{ _('Comment details') }}</legend>
                <p>
                {{ notification.targets.orig_comment_body }}
                </p>
                <p>{{ _('Author') }}: <a href="/u/{{ notification.targets.suspect_user_user_name }}">{{ notification.targets.suspect_user_user_name }}</a></p>
            </fieldset>
        {% elif notification.subtype == "post_from_suspicious_domain" %}
            <h4>{{ _('Post From Suspicious Domain') }}</h4>
            <p>
                <div class="overflow-ellipses-parent">
                    <div class="child">
                        <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                            class="{% if not notification.read %}unread{% endif %}">{{ notification.targets.orig_post_title }}</a>
                    </div>
                </div>
            </p>
            <br>
            <fieldset class="coolfieldset collapsed">
                <legend class="w-100">{{ _('More details') }}</legend>
                <p>
                {{ notification.targets.orig_post_body }}
                </p>
                <p>{{ _('Author') }}: <a href="/u/{{ notification.targets.suspect_user_user_name }}">{{ notification.targets.suspect_user_user_name }}</a></p>
            </fieldset>        
        {% elif notification.subtype == "post_with_suspicious_image" %}
            <h4>{{ _('Post With Suspicious Image') }}</h4>
            <p>
                <div class="overflow-ellipses-parent">
                    <div class="child">
                        <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                            class="{% if not notification.read %}unread{% endif %}">{{ notification.targets.orig_post_title }}</a>
                    </div>
                </div>
            </p>
            <br>
            <fieldset class="coolfieldset collapsed">
                <legend class="w-100">{{ _('More details') }}</legend>
                <p>
                {{ notification.targets.orig_post_body }}
                </p>
                <p>{{ _('Author') }}: <a href="/u/{{ notification.targets.suspect_user_user_name }}">{{ notification.targets.suspect_user_user_name }}</a></p>
            </fieldset>          
        {% endif %}
    </td>
    <td class="text-nowrap" width="120">{{ arrow.get(notification.created_at).humanize(locale=locale) }}</td>
    <td width="30">
        <a href="{{ url_for('user.notification_delete', notification_id=notification.id) }}"
            class="no-underline"><span class="fe fe-delete"></span></a>
    </td>
</tr>