<tr class="align-middle">
    <td width="*">
        <div class="overflow-ellipses-parent text-truncate">
            <div class="child my-1 {% if not notification.read %}unread{% endif %}">
                <a class="border border-0"
                   href="/u/{{ notification.targets.author_user_name }}">
                    {{ notification.targets.author_user_name }}
                </a>
                {{ _("replied to comment") }}
                <a href="/post/{{ notification.targets.post_id }}">{{ notification.targets.parent_reply_body }}</a>
                :
            </div>
        </div>
        <div class="accordion accordion-preview"
             id="accordion-{{ notification.id }}">
            <div class="accordion-item">
                <div class="accordion-header d-flex align-items-center bg-body-secondary">
                    <button class="accordion-button collapsed bg-body-secondary p-1"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#notification-{{ notification.id }}"
                            aria-expanded="false"
                            aria-controls="notification-{{ notification.id }}">{{ _("Reply Details") }}</button>
                    <a class="badge text-bg-primary mx-1"
                       href="{{ url_for('user.notification_goto', notification_id=notification.id) }}">
                        {{ _("Go to...") }} <span class="fe fe-external"></span>
                    </a>
                </div>
                <div id="notification-{{ notification.id }}"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordion-{{ notification.id }}">
                    <div class="accordion-body p-1">{{ markdown_to_html(notification.targets.comment_body, allow_img=False) | safe }}</div>
                </div>
            </div>
        </td>
        {% include "user/notifs/_time_and_buttons.html" %}
    </tr>
