<tr>
    <td>
        <div class="overflow-ellipses-parent">
            <div class="child">
                <a href="{{ url_for('user.notification_goto', notification_id=notification.id) }}"
                    class="{% if not notification.read %}unread{% endif %}">{{ notification.title }}</a>
            </div>
        </div>
        <div class="child">
            --- 
            {{ _('posted in') }}
            <a href="/f/{{ notification.targets.feed_name }}">{{ notification.targets.feed_name }}</a>
            /
            <a href="/c/{{ notification.targets.community_name }}">{{ notification.targets.community_name }}</a>
        </div>
    </td>
    <td class="text-nowrap" width="120">{{ arrow.get(notification.created_at).humanize(locale=locale) }}</td>
    <td width="30">
        <a href="{{ url_for('user.notification_delete', notification_id=notification.id) }}"
            class="no-underline"><span class="fe fe-delete"></span></a>
    </td>
</tr>