/* Bootstrap Variables - should be commented out or will evaluate to nothing and break the style sheet */
/*
:root {
--bs-body-bg: var(--bs-body-bg); // #212529, styles.scss background-color for div.navbar, .mobilenav, .dropdown-menu.show, .replies, #communitySidebar, #voting_dialog, .reaction_button, .user-suggestion-box with $white as backup variable
--bs-body-color: var(--bs-body-color); // #DEE2E6 styles.scss spoiler hover color, a color, #communitySidebar, #voting_dialog, .message_reaction
--bs-body-color-rgb: var(--bs-body-color-rgb); // #DEE2E6 #home_announcement mixed with very low opacity value (0.03), 
--bs-link-color: var(--bs-link-color); // #6ea8fe, styles.scss post_teaser_title a and visited (mixin), data-bs-theme dark post_teaser_title_a with mixin
--bs-link-color-rgb: var(--bs-link-color-rgb); // #6ea8fe .emoji_button (mixin with --bs-link-opacity)
--bs-link-opacity: var(--bs-link-opacity); // .emoji_button color mixin with --bs-link-color-rgb

--bs-border-color: var(--bs-border_color); // #495057 .message_reaction, .reaction_button, .user-suggestion-box with  $lighter-grey-decoration as backup colour
--bs-border-color-translucent: var(--bs-border-color-translucent); // rgba(255, 255, 255, 0.15); #home_announcement border-bottom

--bs-primary-bg-subtle: var(--bs-primary-bg-subtle); // #031633 .reacted bg, .emoji-picker input[type="radio"]:checked + label
--bs-primary-border-subtle: var(--bs-primary-border-subtle); // #084298 .reacted border, .reaction_button:hover border

--bs-primary-text-emphasis: var(--bs-primary-text-emphasis); // #6ea8fe (same as bs-link-color) .reacted, .message_reaction:hover .message_reaction_count, .reaction_button:hover, .reaction_button:hover i, .message_reaction_count:hover

--bs-secondary-color: var(--bs-secondary-color); // rgba(222, 226, 230, 0.75) lighter version of body-color, comment_time color and comment_time a color,  .reaction_button, .reaction_button i, .message_reaction_count
--bs-secondary-color-rgb: var(--bs-secondary-color-rgb); // _typography .form-control::placeholder with an opacity mix in 
--bs-secondary-bg: var(--bs-secondary-bg); // #343a40 accordian-preview after gradient, pre, p > code, .post_teaser.reported, .comment.reported, .message_reaction, .reaction_button:hover bg, .emoji-picker label:hover

--bs-tertiary-bg: var(--bs-tertiary-bg); // #2b3035 :hover

--bs-secondary-bg-subtle: var(--bs-secondary-bg-subtle); // #161719 spoiler_block bg color, .distinguished bg, blockquote bg
--bs-secondary-border-subtle: var(--bs-secondary-border-subtle); // #41464b spoiler_block border color, blockquote left border color, pre border

--bs-info-bg-subtle: var(--bs-info-bg-subtle); // #032830 .comment.answer bg
--bs-card-cap-color: var(--bs-card-cap-color); // .message .from-me color, #home_announcement
--bs-card-cap-bg: var(--bs-card-cap-bg); // .message .from-me bg


--bs-accordian-active-bg: var(--bs-accordion-active-bg); // bg color accordion not active (community list page)
--bs-box-shadow: var(--bs-box-shadow); // #communitySidebar

--bs-form-valid-border-color: var(--bs-form-valid-border-color); // #75b798 .comment.answer, _typography.scss .fe-answer::before color
--bs-success: var(--bs-success); // #198754 post_teaser_title_a, .distinguished border color
--bs-success-border-subtle: var(--bs-success-border-subtle); // #0f5132 styles.scss post_list instance_sticky
--bs-warning: var(--bs-warning); // #ffda6a used in styles.scss border-color
--bs-danger: var(--bs-danger); // #dc3545 .post_teaser.reported, .comment.reported, _typography .fe-unanswer::before

--bs-link-color-rgb: var(--bs-link-color-rgb); // .upvote_button, downvote_button, color with opacity argument var(--bs-link-opacity,1)

// --bs-text-opacity: locally redefined to $opacity_10 (comment_time and a)
}
*/

/* Custom Variables */

$primary-colour: #0071CE; // blue

$blue-bright: #007bff; // 3.9:1, _controls, secondary button
$blue-light: #d8e5ee; // _controls, table striped, zebra
$blue-mid: #1991eb; // 4.6:1, _controls, form-control focus (almost identical colour to $primary-colour)

$blue-rgba: rgba(0, 40, 100, 0.12); // styles.scss and _controls for border colour, RGB is #002864
$blue-rgba-02: rgba(70, 127, 207, 0.25); // _controls box-shadow, RGB is #467FCF overwrites

$green: #00b550;
$green-hover: #83f188;

// colours only in _dark
$off-white: #f7f7f7;
$light-white: #FCFDFD;
$lighter-grey: #D3D7CF;
$grey-blue: #2D3848;

// whites to blacks
$white: #fff; // styles.scss
$ghostwhite: ghostwhite; // _high_contrast domain_link
$white-rgba: rgba(256,256,256, 0.7); // styles.scss fe-image and fe- others
$white-rgba-02: rgba(253,253,253,.5); // styles.scss box-shadow nav link
$whitesmoke: whitesmoke; // named colour, very close to white
$white-fade: #f0f0f2; // _controls.scss, table-striped
$lightest-grey: #eee; // styles.scss dropdown fg
$light-grey: #ddd; // styles.scss border
$grey: #bbb;
$darker-grey: #333; // _high_contrast colour
$dark-grey: #777; // styles.scss domain_link
$super-dark-grey: #424549; // styles.scss dropdown bg
$black: black;

$black-tint-000: rgba(0, 0, 0, 0.075); // styles.scss user-suggestion-box box-shadow
$black-tint-00: rgba(0, 0, 0, 0.1); // styles.scss box-shadow
$black-tint-001: rgba(0, 0, 0, 0.15); // styles.scss voting-dialog box-shadow
$black-tint-01: rgba(0, 0, 0, 0.2); // styles
$black-tint-015: rgba(0, 0, 0, 0.3); // styles.scss code btn.hover
$black-tint-02: rgba(0,0,0,0.4); // styles.scss thumbnail fe dark
$black-tint-025: rgba(0, 0, 0, 0.5); // styles.scss backdrop
$black-tint-03: rgba(0,0,0,0.6); // styles.scss breadcrumb bg
$black-tint-04: rgba(0, 0, 0, 0.7); // styles.scss masonry_info

$opacity-00: 0; // emoji-picker
$opacity-003: 0.03; // #home_announcement
$opacity-01: 0.1; // comment_body
$opacity-02: 0.2; // blocked
$opacity-03: 0.3; // fe-discussion
$opacity-04: 0.4; // _typography fe-external-noing
$opacity-05: 0.5; // fe-video, img, .form-control::placeholder mixin
$opacity-08: 0.8; // missing_thumbnail
$opacity-09: 0.9; // navbar-light
$opacity-10: 1; // comment_time


$bright-red: rgba(251, 74, 74, 0.846); // styles.scss voted_down
$danger: #FF585B; // coral red, styles.scss nsfw, ai-generated flags
$teal: #0c5460; // styles.scss alert
$white-blue: #d1ecf1; // styles.scss alert bg
$whiter-blue: #bee5eb; // styles.scss alert border

$burgundy: #722047; // styles.scss alert-error
$light-pink: #f8d7da; // style.scss alert-error bg

$depth-00: rgba(172, 83, 83, 0.5); // red
$depth-01: rgba(172, 157, 83, 0.6); // yellow
$depth-02: rgba(113, 172, 83, 0.6); // green
$depth-03: rgba(83, 172, 128, 0.6); // blueish green
$depth-04: rgba(83, 142, 172, 0.6); // blue
$depth-05: rgba(98, 83, 172, 0.5); // purple
$depth-06: rgba(172, 83, 172, 0.5); // pink
$depth-07: rgba(172, 83, 83, 0.5); // orange
$depth-08: rgba(172, 83, 83, 0.65); // orange (more opaque, basically the same as 07 though)
$depth-09: rgba(172, 83, 83, 0.78); // orange (again, more opaque)
$depth-10: rgba(172, 83, 83, 0.85); // orange (more opaque)
$depth-11: rgba(172, 83, 83, 0.5); // orange (the same as depth-07)
$depth-12: rgba(172, 157, 83, 0.6); // yellow, same as depth-01
$depth-13: rgba(113, 172, 83, 0.6); // green, same as depth-02
$depth-14: rgba(83, 172, 128, 0.6); // blueish green, same as depth-03
$depth-15: rgba(83, 142, 172, 0.6); // blue, same as depth-04
$depth-16: rgba(98, 83, 172, 0.5); // purple, same as depth-05
$depth-17: rgba(172, 83, 172, 0.5); // pink, same as depth-06
$depth-18: rgba(172, 83, 83, 0.5); // orange, same as depth-07
$depth-19: rgba(172, 83, 83, 0.65); // orange (more opaque, same as depth-08)
$depth-20: rgba(172, 83, 83, 0.78); // oranger same as depth-09
$depth-21: rgba(172, 83, 83, 0.85); // oranger same as depth-10


.red {
  color: red;
}

.orangered {
  color: orangered;
}

.purple {
  color: purple;
}
