:root {
  --bs-gutter-x-reduced: calc(var(--bs-gutter-x) * 0.95);
}

body.compact-min {

  .btn {
    padding: $px4 $px8;
    font-size: $fs93pc;
  }
  .post_teaser {
    .post_teaser_article_preview,
    .post_teaser_link_preview,
    .post_teaser_video_preview {
      display: none;
    }

    .post_teaser_image_preview {
      img {
        max-height: 170px;
        width: auto;
        min-width: inherit;
      }
    }
  }

  .community_icon {
    width: 15vw;
    height: 15vw;
    max-width: 20px !important;
    max-height: 20px;
    min-width: 10px;
    min-height: 10px;
  }

  .side_pane {
    h2 {
      margin-bottom: 0;
      font-size: $fs1x5rem;
    }
  }

  div.navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  #outer_container {
    margin-top: var(--spacing-12);
  }

  .table > :not(caption) > * > * {
    padding: $rem03 $rem03;
  }

  .mt-4 {
    margin-top: $rem1x3!important;
  }

  .communities_table tbody tr th a {
    padding-top: $px4;
    padding-bottom: $px4;
  }

  .form-control {
    padding: var(--spacing-4) var(--spacing-8);
  }

  .form-select {
    padding: var(--spacing-4) var(--spacing-32) var(--spacing-4) var(--spacing-8);
  }

  .ts-wrapper {
    padding: 0;
  }

}

body.compact-max {
  .post_teaser {

    .post_teaser_image_preview {
      display: none;
    }

    border-bottom-width: var(--border-1);
    padding-top: $px4;

    img, .thumbnail {
      display: none;
    }

    .post_utilities_bar {
      min-height: $px30;
      font-size: $fs93pc;

      div {
        height: $px30;
        line-height: $fs30px;
        min-width: $px30;
      }

      .voting_buttons_new .upvote_button, .voting_buttons_new .downvote_button {
        min-width: $px30;
        min-height: $px30;

        span {
          line-height: $px30;
        }
      }
    }
  }
}
