@import "colours";
@import "layout";

@media (prefers-color-scheme: dark) {

  body {
    background-color: var(--whitesmoke);
  }

  body nav.navbar {
    background-color: var(--whitesmoke) !important;
  }

  .card {
    background-color: var(--whitesmoke);
  }

  .form-control, .dark-form-control {
    border: $px1 solid var(--blue-rgba);
    border-radius: var(--spacing-4);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: var(--spacing-8) var(--spacing-12);
    font-size: 16px;
    font-size: var(--font-size-16);
  }

  .form-control::placeholder {
    color: var(--white);
  }

  .dropdown-menu {
    background-color: var(--light-grey);
  }

  .dropdown-header {
    color: var(--white);
  }

  .table td {
    border-top-color: var(--darker-grey);
  }

}
