@import "colours";
@import "layout";

@media (prefers-contrast: more) {
  :root {
    --bs-link-color: var(--black);
    --bs-link-color-rgb: var(--black);
    --bs-link-hover-color-rgb: var(--darker-grey);
  }

  [data-bs-theme="dark"] {
      --bs-body-bg: var(--black);
      --bs-link-color: var(--white);
      --bs-link-color-rgb: var(--white);
      --bs-link-hover-color-rgb: var(--white-fade);
      --bs-heading-color: var(--white);
      --bs-body-color: var(--white);
      --bs-body-color-rgb: var(--white);
  }

  .btn-primary {
      --bs-btn-bg: var(--black);
      --bs-btn-border-color: var(--black);
      --bs-btn-hover-bg: var(--darker-grey);
  }
  [data-bs-theme="dark"] .btn-primary {
      --bs-btn-bg: var(--white);
      --bs-btn-border-color: var(--white);
      --bs-btn-hover-bg: var(--white);
      --bs-btn-color: var(--black);
  }
  [data-bs-theme="dark"] .btn-primary:hover {
      --bs-btn-hover-color: var(--black);
  }

  .btn-outline-secondary {
      --bs-btn-color: var(--black);
  }
  [data-bs-theme="dark"] .btn-outline-secondary {
      --bs-btn-color: var(--white);
  }

  .post_list .post_teaser {
      border-bottom: solid var(--border-1) var(--black);
  }
  [data-bs-theme="dark"] .post_list .post_teaser {
      border-bottom: solid var(--border-1) var(--white);
  }

  .domain_link, .domain_link a {
      color: var(--black);
  }
  [data-bs-theme="dark"] .domain_link, [data-bs-theme="dark"] .domain_link a {
      color: var(--whitesmoke);
  }

 .main_pane {
      border: solid var(--border-1) var(--darker-grey);
  }
  [data-bs-theme="dark"] .main_pane {
      border: solid var(--border-1) var(--white-fade);
  }

  div.navbar {
      border-bottom: solid var(--border-1) var(--darker-grey);
  }
  [data-bs-theme="dark"] div.navbar {
      border-bottom: solid var(--border-1) var(--white);
  }

  .nav-link {
      color: var(--black);
  }
  [data-bs-theme="dark"] .nav-link {
      color: var(--white);
  }

  .card {
      --bs-card-border-color: var(--darker-grey);
  }
  [data-bs-theme="dark"] .card {
      --bs-card-border-color: var(--white);
  }

  .coolfieldset.collapsed legend, .coolfieldset legend, .coolfieldset.expanded legend {
      background-color: var(--white);
  }
  [data-bs-theme="dark"] .coolfieldset.collapsed legend, [data-bs-theme="dark"] .coolfieldset legend, [data-bs-theme="dark"] .coolfieldset.expanded legend {
      background-color: var(--black);
  }
}
