// CSS variables will appear in the final output, making it easier to track them across the project

// Bootstrap variables in use (must stay commented out or will break the style sheet)
/*
--bs-gutter-x: var(--bs-gutter-x); // calc(var(--bs-gutter-x) * -.5)
--bs-border-radius: var(--bs-border-radius); // 0.375rem, voting_dialog, communitySidebar

*/
/* REM units */

:root {
	--spacing-2: 0.125rem; // 2px
    --spacing-4: 0.25rem; // 4px
    --spacing-8: 0.5rem; // 8px
    --spacing-12: 0.75rem; // 12px
    --spacing-16: 1rem; // 16px
    --spacing-20: 1.25rem; // 20px
    --spacing-24: 1.5rem; // 24px
    --spacing-28: 1.75rem; // 28px
    --spacing-32: 2rem; // 32px
    --spacing-40: 2.5rem; // 40px
    --spacing-48: 3rem; // 48px
    --spacing-56: 3.5rem; // 56px
    --spacing-64: 4rem; // 64px
    --spacing-72: 4.5rem; // 72px
    --spacing-80: 5rem; // 80px
    --spacing-96: 6rem; // 96px
    --spacing-120: 7.5rem; // 120px
    
    --border-1: 1px; // for border, border-width to replace those using px1 in _controls, _compact, _high_contrast
	--border-2: 2px; // for border and border-radius, multiple stylesheets
// --spacing-2 (0.125rem) used for some border-radius to replace 3px radius in some cases, message_reaction border-width styles.scss
// --spacing-4 (0.25rem) used for some border-radius (styles.scss, _controls, and _dark), .tab-content > .tab-pane (styles.scss), community_header, .event_banner, img container styles, .post_flair and others, tg-spoiler
// --spacing-8 (0.5rem) closest to --bs-card-border-radius (0.375rem) main_pane
// --spacing-24 (1.5rem) border-radius message_reaction (pillbox style)
    }
    
    /* Rem unit notes
     --spacing-2, styles.scss (box shadow), message_reactions gap (styles.scss), styles.scss, margins - and negative calc(-1 * var(--spacing-2)), and box shadow in _controls, .author and post_teaser_link_preview padding, post_flair user_flair padding, spoiler-block styles.scss, jump_links styles.scss
     
     --spacing-4, styles.scss for control elements, user-suggestion-box padding, #outer_container, .form-label, .btn spacing, _compact padding, _compact .table padding, styles.scss message_reactions row-gap, _controls margin-bottom (form-control-label class on New Post page), form-control padding _compact, _dark form-control padding, border-radius for user-suggestion-box (styles.scss), lots of instances in styles.scss, top, _compact, form_control border-radius with this value in _controls and _dark, content-center a span on the nav-bar (styles.scss), #masonry upvote_button padding-top, post_flair user_flair padding, blocked-image blur, jump_links styles.scss, reaction_button:hover (styles.scss), blockquote and pre padding, post_language_chooser uses a negative value calc(-1 * var(--spacing-4)), .dropdown-item .fe padding-right (_typography - icons in chat options)
     
     --spacing-8, styles.scss, _compact padding, positioning, margins, paddings, width, height, gap styles.scss and a negative value calc(-1 var(--spacing-8)), and button style in _compact, padding breadcrumb-item styles.scss, ul.form-multicheck-columns li margin-right, #masonry upvote_button padding-top, nav-link, .accordion-button padding, blockquote padding, #preview (post preview) padding, 8 and 12 padding used on .form-control and .form-select
     
     --spacing-12, styles.scss, plus for a flex gap value, _controls (form control), _dark (form control), #outer_container _compact top-margin (less than default 1rem), negative is calc(-1 var(--spacing-12)) in styles.scss, width, height instances not changed (styles.scss), padding breadcrumb-item styles.scss, .accordion-button padding, post_poll ul li margin-bottom, .dropdown-divider spacing, .sort_methods padding left and right, post_teaser_image_preview margin-top
     
     --spacing-16, styles.scss height, box-shadow, other  (h4 style moved to _typography), form .mb-3, message padding, .form-group, .htmx-indicator htmx-request, coolfieldset legend
     
     --spacing-20, styles.scss margin-left (also a font-size in _typography), margin for blockquote, _compact body-compact-min mt-4, in styles.scss lots of elements have a width, height, min-width, min-height, and line-height set to 20px
     
     --spacing-24, line-height and many blur (styles.scss), message_reaction border-radius
     
     --spacing-28
     
     --spacing-32, _compact padding, showPassword / hidePassword img and top position.
     
     --spacing-40: 2.5rem; // 40px
     
    --spacing-48: 3rem; // 48px
    
    --spacing-56: 3.5rem; // 56px
    
    --spacing-64: 4rem; // 64px
    
    --spacing-72: 4.5rem; // 72px
    
    --spacing-80: 5rem; // 80px
    
    --spacing-96: 6rem; // 96px
    
    --spacing-120: 7.5rem; // 120px
     
     */

// Pixel Units



$px1: 1px; // negative values -($px1) _typography (top)
$px7: 7px; // .show-more .fe-angles-down
$px15: 15px; // negative is -($px15)
$px17: 17px; // styles.scss, top,and padding/margins, _typography (font-size defined as fs17px)
$px26: 26px; // styles.scss line height x2
$px30: 30px; // styles.scss line height, font-size, width, height, padding, margins, _compact line height, min-width, min-height
$px40: 40px; // styles.scss line height
$px46: 46px; // styles.scss line height and width (not changed)

$px70: 70px; // footer in styles.scss (normal plus breakpoint), element width

$factor1x6: 1.6; // line-height in _controls

$em02: 0.2em; // spoiler_block styles.scss, blockquote
$em025: 0.25em; // styles.scss post_teaser_title
$em05: 0.5em; // spoiler_block styles.scss, table, img
$em1: 1em; // styles.scss font-size i, margin for spoiler_block
$em5: 5em; // scroll-margin-top for replies

$pc16x9: 56.25%; /* 16:9 aspect ratio on video wrapper in styles.scss */

// As far as I can tell, these mixins are unused
.pl-0 {
  padding-left: 0!important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-md-0 {
  @include breakpoint(phablet) {
    padding-left: 0 !important;
  }
}

.pr-md-0 {
  @include breakpoint(phablet) {
    padding-right: 0 !important;
  }
}

.pl-lg-0 {
  @include breakpoint(tablet) {
    padding-left: 0 !important;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
