// CSS variables will appear in the final output, making it easier to track them across the project

// Bootstrap variables in use (must stay commented out or will break the style sheet)
/*
--bs-gutter-x: var(--bs-gutter-x); // calc(var(--bs-gutter-x) * -.5)
--bs-border-radius: var(--bs-border-radius); // 0.375rem, voting_dialog, communitySidebar

*/
/* REM units */

:root {
	--spacing-2: 0.125rem; // 2px
    --spacing-4: 0.25rem; // 4px
    --spacing-8: 0.5rem; // 8px
    --spacing-12: 0.75rem; // 12px
    --spacing-16: 1rem; // 16px
    --spacing-20: 1.25rem; // 20px
    --spacing-24: 1.5rem; // 24px
    --spacing-28: 1.75rem; // 28px
    --spacing-32: 2rem; // 32px
    --spacing-40: 2.5rem; // 40px
    --spacing-48: 3rem; // 48px
    --spacing-56: 3.5rem; // 56px
    --spacing-64: 4rem; // 64px
    --spacing-72: 4.5rem; // 72px
    --spacing-80: 5rem; // 80px
    --spacing-96: 6rem; // 96px
    --spacing-120: 7.5rem; // 120px
    
    --border-1: 1px; // for border, border-width to replace those using px1 in _controls, _compact, _high_contrast
	--border-2: 2px; // for border and border-radius, multiple stylesheets
// --spacing-2 (0.125rem) used for some border-radius to replace 3px radius in some cases, message_reaction border-width styles.scss
// --spacing-4 (0.25rem) used for some border-radius (styles.scss, _controls, and _dark), .tab-content > .tab-pane (styles.scss), community_header, .event_banner, img container styles, .post_flair and others, tg-spoiler
// --spacing-8 (0.5rem) closest to --bs-card-border-radius (0.375rem) main_pane
// --spacing-24 (1.5rem) border-radius message_reaction (pillbox style)
    }

// Pixel Units

// 1px some elements still using 1px
$factor1x6: 1.6; // line-height in _controls

$em02: 0.2em; // spoiler_block styles.scss, blockquote
$em025: 0.25em; // styles.scss post_teaser_title
$em05: 0.5em; // spoiler_block styles.scss, table, img
$em1: 1em; // styles.scss font-size i, margin for spoiler_block
$em5: 5em; // scroll-margin-top for replies

$pc16x9: 56.25%; /* 16:9 aspect ratio on video wrapper in styles.scss */

// As far as I can tell, these mixins are unused
.pl-0 {
  padding-left: 0!important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-md-0 {
  @include breakpoint(phablet) {
    padding-left: 0 !important;
  }
}

.pr-md-0 {
  @include breakpoint(phablet) {
    padding-right: 0 !important;
  }
}

.pl-lg-0 {
  @include breakpoint(tablet) {
    padding-left: 0 !important;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
