/* REM units */
// CSS variables will appear in the final output, making it easier to track them across the project

:root {
	--spacing-2: 0.125rem; // 2px, styles.scss (box shadow)
    --spacing-4: 0.25rem; // 4px, styles.scss for control elements, user-suggestion-box padding, #outer_container, .form-label, .btn spacing, _compact padding
    --spacing-8: 0.5rem; // 8px, styles.scss, _compact padding
    --spacing-12: 0.75rem; // 12px, styles.scss, plus for a flex gap value, _controls (form control), _dark (form control), #outer_container _compact top-margin (less than default 1rem)
    --spacing-16: 1rem; // 16px, styles.scss height, box-shadow, other  (h4 style moved to _typography)
    --spacing-20: 1.25rem; // 20px, styles.scss margin-left (also a font-size in _typography)
    --spacing-24: 1.5rem; // 24px
    --spacing-28: 1.75rem; // 28px
    --spacing-32: 2rem; // 32px, _compact padding
    --spacing-40: 2.5rem; // 40px
    --spacing-48: 3rem; // 48px
    --spacing-56: 3.5rem; // 56px
    --spacing-64: 4rem; // 64px
    --spacing-72: 4.5rem; // 72px
    --spacing-80: 5rem; // 80px
    --spacing-96: 6rem; // 96px
    --spacing-120: 7.5rem; // 120px
    }

// Pixel Units

$border-1: 1px; // for border, border-width to replace those using px1 in _controls, _compact, _high_contrast
$border-2: 2px; // for border and border-radius, multiple stylesheets

$px1: 1px; // negative values -($px1) _typography (top)
$px1x5: 1.5px; // message_reaction and border-width styles.scss
$px2: 2px; // styles.scss, margins (and negative -(px2)), and box shadow in _controls
$px3: 3px; // border radius, blur, _dark (border-radius)
$px4: 4px; // lots of instances in styles.scss, top, _compact
$px5: 5px; // negative is -($px5), note there is a border-radius with this value in _controls
$px6: 6px; // locations, blur, border-radius instances (styles.scss)
$px7: 7px; // styles.scss, positioning, margins, paddings
$px8: 8px; // styles.scss, positioning, margins, paddings, width, height, gap, and in _compact
$px9: 9px; // negative is -($px9), there is a blur instance (styles.scss)
$px10: 10px; // negative instances look like -($px10)
$px12: 12px; // negative is -($px12) - width, height instances not changed (styles.scss), font-size set in _typography
$px13: 13px; // some in styles.scss, (font-size in _typography)
$px14: 14px; // line-height, other instances on styles.scss
$px15: 15px; // negative is -($px15)
$px17: 17px; // styles.scss, top,and padding/margins, _typography (font-size defined as fs17px)
$px20: 20px; // in styles.scss lots of elements have a width, height, min-width, min-height, and line-height set to 20px
$px24: 24px; // line-height and many blur (styles.scss)
$px26: 26px; // styles.scss line height x2
$px30: 30px; // styles.scss line height, font-size, width, height, padding, margins, _compact line height, min-width, min-height
$px40: 40px; // styles.scss line height
$px46: 46px; // styles.scss line height and width (not changed)

$px70: 70px; // footer in styles.scss (normal plus breakpoint), element width


$factor1x6: 1.6; // line-height in _controls

$rem03: 0.3rem; // _compact padding, styles.scss row-gap
$rem0375: 0.375rem; // _dark padding, _controls padding
$rem1x1: 1.1rem; // styles.scss for bootstrap classes
$rem1x2: 1.2rem; // styles.scss font-size
$rem1x3: 1.3rem; // _compact margin

$em02: 0.2em; // spoiler_block styles.scss, blockquote
$em025: 0.25em; // styles.scss post_teaser_title
$em05: 0.5em; // spoiler_block styles.scss, table, img
$em1: 1em; // styles.scss font-size i, margin for spoiler_block
$em5: 5em; // scroll-margin-top for replies

$pc16x9: 56.25%; /* 16:9 aspect ratio on video wrapper in styles.scss */
$pc3: 3%; // margin for blockquote


// As far as I can tell, these mixins are unused
.pl-0 {
  padding-left: 0!important;
}

.pl-1 {
  padding-left: $px5!important;
}

.pl-2 {
  padding-left: $px10!important;
}

.pl-3 {
  padding-left: $px15!important;
}

.pl-4 {
  padding-left: $px20!important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-md-0 {
  @include breakpoint(phablet) {
    padding-left: 0 !important;
  }
}

.pr-md-0 {
  @include breakpoint(phablet) {
    padding-right: 0 !important;
  }
}

.pl-lg-0 {
  @include breakpoint(tablet) {
    padding-left: 0 !important;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
