@media print {
  #navbarSupportedContent, #side_pane, .voting_buttons, .comment_actions, footer, .post_reply_form, #post_replies .btn-group,
  .navbar .nav-link, .post_utilities_bar, .community_header, .community_icon_big, .mobile_create_post {
    display: none;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .comments > .comment, .post_teaser {
    break-inside: avoid;
  }

  .main_pane {
    border: none;
    padding: 0;

    &>.btn-group {
      display: none;
    }
  }

  .div.navbar {
    border-bottom: none;
  }

  .limit_height {
    overflow: visible!important;
    max-height: initial;
  }

  .comment .show-more {
    display: none;
  }
}
