{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        <div class="row justify-content-between">
            <div class="col-8">
                {% if search == '' %}
                <h1>{{ _('Tags in %(community)s', community=community.name) }}</h1>
                {% else %}
                <h1>{{ _('Tags containing "%(search)s"', search=search) }}</h1>
                {% endif %}
            </div>
            {% if not current_user.is_anonymous %}
            <div class="col-4">
                <form method="get"><input type="search" name="search" value="{{ search }}" placeholder="{{ _('Search') }}" autofocus></form>
            </div>
            {% endif -%}
        </div>

        <div class="table-responsive-sm pt-4">
        <table class="table table-striped">
            {% for tag in tags %}
                <tr>
                    <td>
                        <a href="{{ url_for('activitypub.community_profile', actor=community.link(), tag=tag.name) }}">{{ tag.display_as }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </main>
</div>



{% endblock %}

