{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% from "_macros.html" import render_username, render_communityname %}
{% from "post/post_teaser/_macros.html" import render_article, render_link, render_poll, render_image, render_video %}
{% from "post/reply/_macros.html" import render_comment_voting_buttons, render_reply_notification_toggle, render_emoji_button %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        <nav id="breadcrumb_nav" aria-label="{{ _('Breadcrumbs') }}">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/topics">{{ _('Topics') }}</a></li>
            {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item">{% if breadcrumb.url %}<a href="{{ breadcrumb.url }}">{% endif %}{{ breadcrumb.text }}{% if breadcrumb.url %}</a>{% endif %}</li>
            {% endfor %}
          </ol>
        </nav>
        <h1 class="mt-2">{{ topic.name }}
            {% if current_user.is_authenticated %}
                {% include 'topic/_notification_toggle.html' %}
            {% endif %}
        </h1>
        {% if sub_topics %}
        <h5 class="mb-0" id="sub-topics">{{ _('Sub-topics') }}</h5>
        <ul id="subtopic_nav" class="nav" role="listbox" aria-labelledby="sub-topics">
        {% for sub_topic in sub_topics %}
            <li class="nav-item" role="option"><a class="nav-link" href="/topic/{{ topic_path }}/{{ sub_topic.machine_name }}">{{ sub_topic.name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        {% include "community/_community_nav.html" %}
        {% if content_type == 'posts' and (post_layout == 'masonry' or post_layout == 'masonry_wide') %}
             <div class="masonry" id="masonry">
              <!-- Masonry columns will be added here -->
            </div>
            <script nonce="{{ nonce }}">
              document.addEventListener("DOMContentLoaded", function() {
                  const masonry = document.getElementById('masonry');
                  const htmlSnippets = [
                      {% for post in posts %}
                        {% raw %}`{% endraw %}{% include 'post/_post_teaser_masonry.html' %}{% raw %}`{% endraw %},
                      {% endfor %}
                  ];
                  renderMasonry(masonry, htmlSnippets);
              });
            </script>
        {% else %}
            {% if posts -%}
                <div class="post_list">
                    {% for post in posts %}
                        {% include 'post/_post_teaser.html' %}
                    {% else %}
                        <p>{{ _('No posts in this topic yet.') }}</p>
                    {% endfor %}
                </div>
            {% endif -%}
            {% if comments -%}
                <div class="post_list comments">
                    {% for post_reply in comments.items %}
                        {% with teaser=True %}
                            {% include 'post/_post_reply_teaser.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif -%}
        {% endif %}

        <nav aria-label="{{ _('Pagination') }} class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </main>

    <aside id="side_pane" class="col-12 col-lg-4 side_pane" role="complementary">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <a class="w-100 btn btn-primary" href="{{ url_for('topic.topic_create_post', topic_name=topic.machine_name) }}" rel="nofollow">{{ _('Create post') }}</a>
                    </div>
                    <div class="col-6">
                        <a class="w-100 btn btn-outline-secondary" href="{{ url_for('feed.feed_new', topic_id=topic.id) }}" rel="nofollow">{{ _('Create feed') }}</a>
                    </div>
                </div>
            </div>
        </div>
        {% if tags %}
        <div class="card mt-3">
            <div class="card-body">
                {% if tags and len(tags) > 0 -%}
                    <div class="post_tags_sidepane">
                        {% for tag in tags -%}
                            <span class="post_tag" style="font-size: {{ tag.font_size }}px"><a href="{{ url_for('topic.show_topic', topic_path=topic_path, tag=tag.name) }}">#{{ tag.display_as }}</a></span>
                        {% endfor -%}
                        {% if len(tags) > 1 -%}
                            <br /><a href="{{ url_for('tag.tag_cloud', type='topic', category_id=topic.id) }}">{{ _('Explore Tag Cloud') }}</a>
                        {% endif%}
                    </div>
                {% endif -%}
            </div>
        </div>
        {% endif %}
        {% if topic_communities %}
        <div id="topic_communities" class="card mt-3">
            <div class="card-header">
                <h2>{{ _('Topic communities') }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for community in topic_communities %}
                        <li class="list-group-item">
                            {{ render_communityname(community) }}
                            <span class="text-muted" title="{{ _('Number of subscribers') }}"> - {{ community.humanize_subscribers() }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <p class="mt-4"><a class="btn btn-primary" href="/communities">{{ _('More communities') }}</a></p>
                <p>
                    <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> </a><a href="{{ rss_feed }}" rel="nofollow">RSS feed</a>
                </p>
            </div>
        </div>
        {% endif %}
        {% include "_inoculation_links.html" %}
    </aside>
</div>
<div class="row">


</div>
{% endblock %}
