<dialog id="insertImageDialog">
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">{{ _('Insert image') }}</h5>
            <button type="button" class="btn-close" aria-label="{{ _('Close') }}" id="insert_image_dialog_close"></button>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <input type="file" class="form-control" id="imageUploadInput" accept="image/*">
                <button class="btn btn-primary" type="button" id="imageUploadButton">{{ _('Upload') }}</button>
            </div>
            <div id="uploadStatus" class="mt-2"></div>
        </div>
        <hr>
        <div id="loadImagesHere"></div>
    </div>
</dialog>