<aside id="side_pane" class="col-12 {{ 'col-lg-2' if post_layout == 'masonry_wide' else 'col-lg-4' }} side_pane" role="complementary">
{% if community %}
    {% block community_actions %}
        {% if not hide_community_actions -%}
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    {% if not banned_from_community -%}
                        {% if not community.restricted_to_mods or (community.restricted_to_mods and current_user.is_authenticated and community_membership(current_user, community) in [SUBSCRIPTION_MODERATOR, SUBSCRIPTION_OWNER]) -%}
                            <div class="col-6">
                                <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/submit">{{ _('Create post') }}</a>
                            </div>
                        {% endif -%}
                        <div class="col-6">
                            {% if current_user.is_authenticated and community_membership(current_user, community) in [SUBSCRIPTION_MEMBER, SUBSCRIPTION_MODERATOR, SUBSCRIPTION_OWNER] -%}
                                <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/unsubscribe" rel="nofollow">{{ _('Leave') }}</a>
                            {% elif current_user.is_authenticated and community_membership(current_user, community) == SUBSCRIPTION_PENDING -%}
                                <a class="w-100 btn btn-outline-secondary" href="/community/{{ community.link() }}/unsubscribe" rel="nofollow">{{ _('Pending') }}</a>
                            {% else -%}
                                <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/subscribe" rel="nofollow">{{ _('Join') }}</a>
                            {% endif -%}
                        </div>
                    {% endif -%}
                </div>
                {% if is_moderator or is_owner or is_admin -%}
                  <div class="row mb-2">
                    <div class="col-6">
                      <a href="{{ url_for('community.community_edit', community_id=community.id) }}" class="w-100 btn btn-primary">{{ _('Settings') }}</a>
                    </div>
                    <div class="col-6">
                      <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/invite" rel="nofollow noindex">{{ _('Invite others') }}</a>
                    </div>
                  </div>
                {% endif %}
                <form method="get" action="/search">
                    <input type="search" id="search_community" name="q" class="form-control" placeholder="{{ _('Search this community') }}" />
                    <input type="hidden" name="community" value="{{ community.id }}">
                </form>
                {% if community_flair and len(community_flair) > 0 -%}
                    <div class="post_flair_sidepane">
                        {% for flair in community_flair -%}
                            <span class="post_flair" style="color: {{ flair.text_color}}; background-color: {{ flair.background_color }}" title="{{ _('Show only %(flair_name)s', flair_name=flair.flair) }}"><a href="{{ url_for('activitypub.community_profile', actor=community.link(), flair=flair.flair) }}" style="color: {{ flair.text_color}}">{{ flair.flair }}</a></span>
                        {% endfor -%}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endif -%}
    {% endblock %}
    {% block about_community %}
        <div class="card {% if not hide_community_actions -%}mt-3{% endif %}" id="about_community">
            <div class="card-header">
                 <h2>{{ community.title }}</h2>
            </div>
            <div class="card-body">
                {% if community.local_only -%}
                    <p class="border bg-body-secondary border-secondary rounded-pill text-center px-3 py-1">
                      {{ _('This community does not federate with other instances.') }}
                    </p>
                {% endif %}
                <p>{{ community.description_html|community_links|safe if community.description_html else '' }}</p>
                <p>{{ community.rules_html|safe if community.rules_html else '' }}</p>
                <p>{{ _('Members') if community.is_local() else _('Local members') }}: {{ community.subscriptions_count }}
                    <a href="/community/{{ community.link() }}/invite" rel="nofollow noindex">{{ _('Invite people to join') }}</a>
                    <br>
                    {{ _('Posts') }}: {{ community.post_count }}<br>
                    {{ _('Comments') }}: {{ community.post_reply_count }}
                </p>
                {% if current_user.is_authenticated or (community_flair and len(community_flair) > 0) -%}
                    <h3>{{ _('Flair') }}</h3>
                {% endif -%}
                {% if current_user.is_authenticated and not banned_from_community -%}
                <p>{{ current_user.display_name() }} {% if current_user.id in user_flair %}<span class="user_flair">{{ user_flair[current_user.id] }}</span>{% endif %}
                <a href="{{ url_for('community.community_my_flair', actor=community.link()) }}">{{ _('Set my flair')}}</a></p>
                {% endif %}
                {% if len(mods) > 0 and not community.private_mods -%}
                    <h3>Moderators</h3>
                    <ul class="moderator_list">
                        {% for mod in mods -%}
                            <li>{{ render_username(mod, current_user=current_user, low_bandwidth=low_bandwidth, admin_ids=admin_ids, user_notes=user_notes) }}</li>
                        {% endfor -%}
                    </ul>
                    {% if un_moderated -%}
                    <p class="red small">{{ _('Moderators have not been active recently.') }}</p>
                    {% endif -%}
                {% endif -%}
                {% if rss_feed and not community.is_local() -%}
                    <ul>
                        <li><p><a href="{{ community.public_url() }}">{{ _('View community on original server') }}</a></p></li>
                        {% if instance_domain -%}
                        <li><p><a href="/community/{{ community.link() }}/move">{{ _('Move community to %(instance_domain)s', instance_domain=instance_domain) }}</a></p></li>
                        {% endif -%}
                        <li><p><a href="{{ url_for('search.retrieve_remote_post') }}">{{ _('Retrieve a post from the original server') }}</a></p></li>
                    </ul>
                {% endif -%}
                {% if rss_feed -%}
                <p class="mt-4">
                    <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> RSS feed</a>
                </p>
                {% endif -%}
            </div>
        </div>
        {% if related_communities -%}
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('Related communities') }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for community in related_communities -%}
                        <li class="list-group-item">
                            {{ render_communityname(community) }}
                        </li>
                    {% endfor -%}
                </ul>
                <p class="mt-4"><a class="btn btn-primary" href="/communities">{{ _('More communities') }}</a></p>
            </div>
        </div>
        {% endif -%}
        {% if community_feeds -%}
            <div class="card mt-3">
                <div class="card-header">
                     <h2>{{ _('Feeds') }}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for feed in community_feeds -%}
                            <li class="list-group-item">
                                {{ render_feedname(feed) }}
                            </li>
                        {% endfor -%}
                    </ul>

                    <p class="mt-4"><a class="btn btn-primary" href="/feeds">{{ _('More feeds') }}</a></p>
                </div>
            </div>
        {% endif -%}
    {% endblock %}
{% endif %}

    {% include "_inoculation_links.html" %}
</aside>
