{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}

{% block app_content %}
<div class="row">
    <main class="col-12 col-lg-8 position-relative main_pane">
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <button id="content_warning_continue" class="btn btn-primary">Continue</button>
    </main>
</div>
<script nonce="{{ nonce }}">
document.getElementById('content_warning_continue').addEventListener('click', function() {
    setCookie('warned', 'yes', 27000);
    window.location.href = {{ next_url | tojson }};
});
</script>
{% endblock %}
