{% if theme() != 'piefed' and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%}
{% from 'bootstrap5/form.html' import render_form %}
{% block extra_css %}
    <link href="{{ url_for('static', filename='js/tomselect/tom-select.css') }}"
          type="text/css"
          rel="stylesheet" />
{% endblock %}
{% block app_content %}
    <script src="/static/js/tomselect/tom-select.complete.min.js"></script>
    <div class="row">
        <main class="col-12 col-lg-8 position-relative main_pane">
            <h1 class="mt-2">{{ _('Share %(title)s', title=title) }}</h1>
            {% if communities|length -%}
                <p>
                    {{ _("This link has already been shared in these communities:") }}
                    <br>
                    {% for community in communities -%}
                        {{ community.display_name() }}
                        <br>
                    {% endfor -%}
                </p>
            {% endif -%}
            {{ render_form(form) }}
        </main>
    </div>
{% endblock %}
